<div id="service_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">{{blogData.title}}</h1>
            <h3 class="h4 pb-2 regular-400">{{blogData.subtitle}}</h3>
            <p class="banner-body pb-2 light-300">
                By {{blogData.authorName}} / {{date}}
            </p>
            <button type="submit" class="btn rounded-pill btn-outline-light px-4 me-4 light-300"
                routerLink="/portfolio">Learn More</button>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300"
                routerLink="/contact">Contact Us</button>
        </div>
    </div>
</div>
<section class="container py-5">

    <div class="row pt-5" *ngIf="blogData.summary">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">What is {{blogData.title}}?</h2>
            <p class="worksingle-footer py-1 text-muted light-300"
                *ngFor="let point of blogData?.summary?.split('\\n')">
                {{point}}
            </p>
        </div>
    </div>

    <div class="row justify-content-center pb-4" *ngIf="blogData.imageUrl[0]">
        <div class="col-lg-8">
            <div id="templatemo-slide-link-target" class="card mb-3">
                <img class="img-fluid border rounded" [src]="blogData.imageUrl[0]" alt="Card image cap">
            </div>

        </div>
    </div>

    <div class="row" *ngIf="blogData.content">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Content:</h2>
            <p class="worksingle-footer py-1 text-muted light-300"
                *ngFor="let point of blogData?.content?.split('\\n')">
                {{point}}
            </p>
        </div>
    </div>

    <div class="row justify-content-center pb-4" *ngIf="blogData.imageUrl[1]">
        <div class="col-lg-8">
            <div id="templatemo-slide-link-target" class="card mb-3">
                <img class="img-fluid border rounded" [src]="blogData.imageUrl[1]" alt="Card image cap">
            </div>

        </div>
    </div>
    <div class="row" *ngIf="blogData.advantages">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Advantages:</h2>
            <!-- <p class="worksingle-footer py-3 text-muted light-300"> -->
            <!-- {{blogData.advantages}} -->
            <ul *ngFor="let point of blogData?.advantages?.split('\\n')">
                <li class="worksingle-footer  text-muted light-300">{{ point }}</li>
            </ul>
            <!-- </p> -->
        </div>
    </div>
    <div class="row" *ngIf="blogData.disadvantages">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Disadvantages:</h2>
            <ul *ngFor="let point of blogData?.disadvantages?.split('\\n')">
                <li class="worksingle-footer  text-muted light-300">{{ point }}</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center pb-4" *ngIf="blogData.imageUrl[2]">
        <div class="col-lg-8">
            <div id="templatemo-slide-link-target" class="card mb-3">
                <img class="img-fluid border rounded" [src]="blogData.imageUrl[2]" alt="Card image cap">
            </div>

        </div>
    </div>

    <div class="row" *ngIf="blogData.conclusion">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Conclusion:</h2>

            <p class="worksingle-footer py-1 text-muted light-300"
                *ngFor="let point of blogData?.conclusion?.split('\\n')">
                {{point}}
            </p>
        </div>
    </div>

    <!-- <div class="row justify-content-center">
        <div class="worksingle-comment-heading col-8 m-auto pb-3">
            <h4 class="h5">Comments</h4>
        </div>
    </div>

    <div class="row pb-4">
        <div class="worksingle-comment-body col-md-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="./assets/img/team-05.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">10 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i
                                class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="./assets/img/team-01.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">5 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i
                                class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-4">
                <div>
                    <img class="rounded-circle" src="./assets/img/team-05.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">15 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i
                                class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-5">
                <div>
                    <img class="rounded-circle" src="./assets/img/team-01.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">16 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i
                                class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pb-4">
        <div class="worksingle-comment-footer col-lg-8 m-auto">
            <h4 class="h5">Leave Comment</h4>
            <form class="col-md-12 m-auto" method="POST" action="#" role="form">

                <div class="form-group">
                    <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Your Comment</label>
                    <textarea class="form-control form-control-lg light-300" id="inputmessage" name="inputmessage"
                        placeholder="Your Comment" rows="5"></textarea>
                </div>

                <div class="row py-4">
                    <div class="col-lg-6">
                        <label class="pb-2 light-300" for="inputname">Name</label>
                        <input type="text" class="form-control form-control-lg light-300" id="inputname"
                            name="inputname" placeholder="Name">
                    </div>
                    <div class="col-lg-6">
                        <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputemail">Email</label>
                        <input type="email" class="form-control form-control-lg light-300" id="inputemail"
                            name="inputemail" placeholder="Email">
                    </div>
                </div>

                <div class="form-row pt-2">
                    <div class="col-md-12 col-10 text-end">
                        <button type="submit"
                            class="btn btn-secondary text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Send
                            Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->


</section>

<article class="container-fluid bg-light">
    <div class="container">
        <div class="worksingle-related-header row">
            <h1 class="h2 py-5">Recent Post</h1>
            <div class="col-md-12 text-left justify-content-center">
                <div class="row gx-5">

                    <!-- <div class="col-sm-6 col-lg-4 mb-5" *ngFor="let blog of recentBlogs | recentBlog:4">
                        <a href="#" class="related-content card text-decoration-none overflow-hidden h-100">
                            <img class="related-img card-img-top" src="./assets/img/blog1.png" height="350px"
                                alt="Card image cap">
                            <div class="related-body card-body p-4">
                                <hr>
                                <h5 class="card-title h6 m-0 semi-bold-600 text-dark">ML Drift: Turbocharging AI on Your
                                    Devices</h5>
                                <p class="card-text pt-2 mb-1 light-300 text-dark">
                                    Lorem ipsum dolor sit amet, consectetur.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <a class="card-read-more" routerLink="/blog-detail">
                                        <span class="text-decoration-none text-primary light-300">
                                            Read more <i class='bx bxs-hand-right ms-1'></i>
                                        </span>
                                    </a>
                                   
                                </div>
                            </div>
                        </a>
                    </div> -->
                    <div class="col-12 col-md-4 text-decoration-none project graphic social mb-3"
                        *ngFor="let item of recentBlogs | recentBlog:3">
                        <div class="service-work overflow-hidden card mx-md-1 mx-0 mb-4 h-100">
                            <img class="card-img-top" [src]="item.imageUrl" alt="..." width="100%" height="250px">
                            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                                <h5 class="card-title light-400 text-dark">{{ item.title }}</h5>
                                <p class="card-text light-300 text-dark">
                                    {{ item.summary | slice:0:40 }}...
                                </p>
                                <a class="card-read-more " (click)="viewBlog(item)">
                                    <span class="text-decoration-none text-primary light-300">
                                        Read more <i class='bx bxs-hand-right ms-1'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</article>