<footer class="bg-secondary pt-4">
    <div class="container">
        <div class="row py-4">

            <div class="col-lg-3 col-12 align-left">
                <a class="navbar-brand">
                    <img src="../../assets/img/clavrit_tr_logo.webp" width="150px" height="40px">
                </a>
                <p class="text-light my-lg-4 my-2">
                    Clavrit Digital Solutions with its superior know-how empowers clients to transform their businesses
                    to meet the challenges of the dynamic digital revolution.

                </p>
                <ul class="list-inline footer-icons light-300 p-0 m-0">
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank"
                            href="https://www.facebook.com/Clavrit-Digital-Solutions-100086679653534/">
                            <i class='bx bxl-facebook bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-light" target="_blank"
                            href="https://www.instagram.com/clavritdigitalsolutions_/">
                            <i class='bx bxl-instagram bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-light" target="_blank" href="https://in.linkedin.com/company/clavrit">
                            <i class='bx bxl-linkedin bx-md'></i>
                        </a>
                    </li>
                    <!-- <li class="list-inline-item mr-0">
                            <a class="text-light" target="_blank" href="https://wa.me/919810167782">
                                <i class='bx bxl-whatsapp bx-md'></i>
                            </a>
                        </li> -->

                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://x.com/clavrit_">
                            <i class='bx bxl-xing bx-md'></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h3 class="h4 pb-lg-3 text-light light-300">Our Company</h3>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light"
                            routerLink="/">Home</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/about-us">About Us</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/services">Services</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/portfolio">Portfolio</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/blog">Blog</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/career">Career</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/our-partners">Our Partners</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1"
                            routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">Our Works</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>
                            <a class="text-decoration-none text-light py-1">UI/UX</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>Full-Cycle Development
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>SAP/Hybris
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>Artificial Intelligence
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>Digital Marketing
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>Cloud Services
                        </li>
                    </ul>
                </div> -->

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">Latest posts</h2>
                <ul class="list-unstyled text-light light-300 m-0" *ngFor="let item of recentBlogs | recentBlog:3">
                    <li class="pb-2"  (click)="viewBlog(item)">
                       <a class="text-decoration-none footer-blog text-light">{{item.title}}</a> 
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">Contact us</h2>
                <ul class="list-unstyled text-light light-300">
                    <!-- <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:91-9810167782">+91-9810167782</a>
                        </li> -->
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                            href="mailto:info@clavrit.com">info&#64;clavrit.com</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx bx-map bx-fw bx-xs'></i><a class="text-decoration-none text-light py-1">#906-P
                            Sector-51 , Gurugram, Haryana, India - 122001</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-primary py-3">
        <div class="container">
            <p class="text-center text-dark light-400">
                © Copyright 2025 Clavrit. All Rights Reserved.
            </p>
        </div>
    </div>

</footer>