<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">About Us</h1>
                <p class="light-300">
                    Clavrit Digital Solutions drives digital transformation with global enterprise solutions. Our
                    award-winning SAP project
                    showcases our expertise in SAP, Salesforce, AI, ML, and Robotics
                </p>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/banner-img-02.svg">
            </div>
        </div>
    </div>
</section>
<section class="bg-white w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-12 text-center">
                <h1 class="h2 py-5 text-primary typo-space-line-center">We are Awesome TEAM</h1>
                <p class="light-300">
                    Clavrit Digital Solutions empowers businesses to meet the challenges of digital transformation. We
                    have delivered several enterprise-scale solutions globally. One of our SAP projects is the recipient
                    of the prestigious SAP Innovation Award. Our clientele vouch for our expertise in SAP,
                    Salesforce,Artificial Intelligence and Machine Learning and Robotics.</p>
                <p class="light-300">
                    As a verified SAP Partner, we offer customized cutting-edge solutions to help our customers
                    accelerate business values. Our portfolio of cutting-edge solutions like implementation,
                    augmentation, consultation, hosting, maintenance support, SAP BTP development, and customized
                    add-ons transform your business digitally. Furthermore, our SAP consultants offer free training to
                    clear all doubts regarding the application.</p>
            </div>
        </div>
    </div>
</section>
<!-- <section class="why-us banner-bg bg-light">
    <div class="container my-4">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Why you choose us?</h2>
                <p class="text-muted pb-5 light-300">
                    At Clavrit, we blend technology and strategy to deliver custom enterprise solutions in AI, ML, SAP
                    CX, and Robotics. With global reach and deep expertise, we future-proof your business with
                    innovative, result-driven services.
            </div>
        </div>
    </div>
</section> -->

<section class="banner-bg bg-white py-5">
    <div class="container my-4">
        <div class="row text-center">

            <div class="objective col-lg-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Vision</h2>
                <p class="light-300">
                    Empowering digital transformation through AI, SAP, and eco-friendly innovation
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Mission</h2>
                <p class="light-300">
                    Empowering businesses with smart, sustainable, and innovative tech solutions.


                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Goal</h2>
                <p class="light-300">
                    To lead in delivering future-ready, cost-effective digital solutions.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- <section class="container py-5">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

        <div class="col-lg-3">
            <h2 class="h2 py-5 typo-space-line">Our Team</h2>
            <p class="text-muted light-300">
                Our team is united by a shared belief: that innovation can transform industries
                and create a better tomorrow. We are thinkers, doers, and builders — committed to
                making bold ideas a reality.

            </p>
        </div>

        <div class="col-lg-9 row">
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="../../assets/img/Amarjeet.jpg"
                    alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Amarjeet Dangi</li>
                    <li>CEO</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="../../assets/img/Tina.png"
                    alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Tina Singh</li>
                    <li>HR & Admin, PR Director</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="../../assets/img/abhishek.jpg"
                    alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Abhishek Joshi</li>
                    <li>Resource Manager</li>
                </ul>
            </div>
        </div>

    </div>
</section> -->
<section class="bg-secondary py-3">
    <div class="container py-3">
        <h2 class="h2 text-white text-center py-3">Our Clients</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <!-- <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let slide of clientSlides; let i = index" [class.active]="i === 0">
                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary w-100">
                            <div class="container">
                                <div class="row text-center ">
                                    <div class="col-md-3 mb-3" *ngFor="let client of slide">
                                        <div class="card partner-wap py-5 bg-light" style="height: 70px;">
                                            <img [src]="client.logoImage" class="p-2" height="50px" width="auto"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary">
                            <div class="container">

                                <div class="row text-center">
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary">
                            <div class="container">

                                <div class="row text-center">
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary">
                            <div class="container">

                                <div class="row text-center">
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card partner-wap py-5 bg-light">
                                            <img src="../../assets/img/SAP.png" class="p-4">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="prev">

                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="next">

                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</section>



<section class="bg-white py-3">
    <div class="container my-4">

        <h1 class="creative-heading h2 pb-3">
            Our Expertise</h1>

        <div class="creative-content row py-3">
            <div class="col-md-5">
                <p class="text-muted col-lg-8 light-300">We specialize in Retail, Commerce, Master Data, Enterprise
                    Apps,
                    Middleware, AI/ML, Data Analytics, and cost-effective Offshore Outsourcing to
                    help businesses grow and innovate.

                </p>
            </div>
            <div class="creative-progress col-md-7">

                <!-- <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">SAP CX</h4>
                    </div>
                    <div class="col-6 text-right">90%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="66" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div> -->

                <div *ngFor="let skill of expertiseList">
                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">{{ skill.title }}</h4>
                        </div>
                        <div class="col-6 text-right">{{ skill.value }}%</div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="skill.animatedValue"
                            [attr.aria-valuenow]="skill.animatedValue" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h1 class="h2 py-3 text-primary">Why Choose Us?</h1>
                <p class="light-300 text-start">
                    We master cut-edge technologies such as SAP CX, Artificial Intelligence, Machine Learning &
                    Robotics. We possess hands-on experience and expertise in executing enterprise-level custom software
                    projects ! With our expertise and guidance, we have helped clients around the world solve their
                    business challenges. Our prime focus is to decode the core problems of our clients and provide
                    end-to-end solutions for the same. Our clientele vouch for our expertise in SAP, Salesforce,
                    Artificial Intelligence, Machine Learning and Robotics. We at Clavrit, follow a systematic process
                    of ideation, designing, development, maintenance and finally deployment.</p>
                <p class="light-300 text-start">
                    From the inception of Clavrit till date, we have catered our services to clientele spread all over
                    the world and delivered best-in-class results through sheer hard work and commitment! We believe in
                    customer customer-first philosophy. We amalgamate technical excellence, industry knowledge, and a
                    customer-centric approach to deliver innovation & results to your business. Clavrit masters in Web
                    3.0 space, be it Robotics, Artificial Intelligence or Machine Learning!
                </p>
                <p class="light-300 text-start">
                    We have a stellar team of designers, developers & testers who are highly capable of undertaking and
                    delivering complex projects. By working with us, you can future-proof your business and stay ahead
                    of the curve by leveraging the latest technologies and methodologies in the industry. Choosing
                    Clavrit means gaining a strategic partner who is committed to driving your success in the digital
                    age & delivering top-in-class performance!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h1 class="h2 py-3 text-primary">Message from CEO</h1>
                <p class="light-300 text-start">
                    As we embark on this journey of dynamic technological landscape, we must stay ahead of the curve !
                    Our dedication & innovation has always been at the forefront of our company’s ethos. However, the
                    success of Clavrit, will not solely depend upon technology. It will also depend on our collective
                    efforts, effective communication and adaptation of emerging technologies in the future. Every
                    employee of Clavrit plays a vital role in shaping the future of the company and taking the company
                    to new heights!</p>
                
                <p class="light-300 text-start">
                    Our journey into Web3 amalgamates innovation, strategic planning and dedication. From catering
                    Salesforce solutions to leveraging Artificial Intelligence & Machine Learning for customized
                    projects, the possibilities are endless. I encourage everyone at Clavrit to stay inspired, stay
                    motivated, and most importantly, stay united. We all together, will not only adapt to the future but
                    will also DEFINE IT!


                </p>
                <p class="light-300 text-end">
                    - Mr. Amarjeet Dangi
                </p>
            </div>
        </div>
    </div>
</section>
<section class="banner-bg bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto my-4 p-3">
                <form (ngSubmit)="onSubscribe()" #subscribeForm="ngForm">
                    <h1 class="h2 text-center">Stay up to date with us</h1>

                    <div class="input-group pt-3">
                        <input name="email" [(ngModel)]="subscriberEmail" type="email"
                            class="form-control form-control-lg rounded-pill rounded-end" id="email"
                            placeholder="Your Email" aria-label="Your Email" required email #emailRef="ngModel" />

                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4"
                            type="submit" [disabled]="!subscribeForm.form.valid">
                            Subscribe
                        </button>
                    </div>
                    <div *ngIf="emailRef.touched && emailRef.invalid" class="text-danger small mt-1 ps-2 ">
                        <div *ngIf="emailRef.errors?.['required']">Email is required.</div>
                        <div *ngIf="emailRef.errors?.['email']">Enter a valid email address.</div>
                    </div>

                    <p class="text-center light-300 pt-3">
                        Join our community for updates and expertise.<br />
                        Stay ahead with Clavrit by your side.
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>