
<div class="container my-5">

<form class="contact-form row" method="post" action="#" role="form">

    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname"
                placeholder="Name">
            <label for="floatingname light-300">Full Name</label>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingemail" name="inputemail"
                placeholder="Email">
            <label for="floatingemail light-300">Email</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname"
                placeholder="Name">
            <label for="floatingname light-300">Destination</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingcompany" name="inputcompany"
                placeholder="Company Name">
            <label for="floatingcompany light-300">Company Name</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingphone" name="inputphone"
                placeholder="Phone">
            <label for="floatingphone light-300">Phone</label>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">India</option>
                <option value="2">America</option>
                <option value="3">New Zealand</option>
            </select>
            <label for="floatingcountry light-300">Country</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-4">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Buisiness Partnership</option>
                <option value="2">Career</option>
                <option value="3">Vendor Request</option>
                <option value="4">Others</option>
            </select>
            <label for="floatingcountry light-300">Subject</label>
        </div>
    </div>

<div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname"
                placeholder="Name">
            <label for="floatingname light-300">Full Name</label>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingemail" name="inputemail"
                placeholder="Email">
            <label for="floatingemail light-300">Email</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname"
                placeholder="Name">
            <label for="floatingname light-300">Destination</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingcompany" name="inputcompany"
                placeholder="Company Name">
            <label for="floatingcompany light-300">Company Name</label>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <input type="text" class="form-control form-control-lg light-300" id="floatingphone" name="inputphone"
                placeholder="Phone">
            <label for="floatingphone light-300">Phone</label>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="form-floating">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">India</option>
                <option value="2">America</option>
                <option value="3">New Zealand</option>
            </select>
            <label for="floatingcountry light-300">Country</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-4">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Buisiness Partnership</option>
                <option value="2">Career</option>
                <option value="3">Vendor Request</option>
                <option value="4">Others</option>
            </select>
            <label for="floatingcountry light-300">Subject</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control light-300" rows="8" placeholder="Message" id="floatingtextarea"></textarea>
            <label for="floatingtextarea light-300">Message</label>
        </div>
    </div>

    <div class="col-md-12 col-12 m-auto text-end">
        <button type="submit"
            class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Send
            Message</button>
    </div>

</form>
</div>
