<div id="portfolio_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Sustainability</h1>


            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300 no-focus-outline"
                routerLink="/contact">Contact Us</button>
        </div>
    </div>
</div>
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h2 class="h2 py-5 text-primary typo-space-line">Sustainability</h2>
                <p class="light-300">
                    Clavrit collaborates with industries to drive climate action and sustainability initiatives through
                    innovative software development. Our key focus areas include visual data analytics (dashboards) for
                    carbon offset tracking, carbon mapping, impact assessment, circular economy, and upcycling. The
                    majority of these solutions utilize AI and machine learning to provide enhanced analysis and deliver
                    actionable insights. Our team of ESG experts offers specialized guidance to ensure project success.
                </p>
                <p class="light-300">
                    In collaboration with our acceleration partner, Clavrit supports capital raising efforts from EU
                    impact funds for solutions that meet eligibility requirements for European sustainability funding.
                    To further showcase our expertise in ESG solutions, we provide complimentary advisory services and
                    MVP development support, helping our clients contribute to a more sustainable future.
                </p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/sustainability.webp" width="100%">
            </div>
        </div>
    </div>
</section>
<section class="container py-3"
    id="reducing-carbon-footprint">
    <h2 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 1</h2>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Reducing Carbon Footprint in eCommerce Logistics with the Carbon
                    Footprint Calculator </h4>
                <h5 class="h5 py-1 text-dark">Industry: eCommerce</h5>
                <h5 class="h5 py-1 text-dark">Product: Carbon Footprint Calculator</h5>
                <h5 class="h5 py-1 text-dark">Objective: Enables eCommerce retailers to accurately calculate and reduce
                    carbon emissions from logistics</h5>
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>eCommerce retailers couldn’t clearly see how much carbon their deliveries were producing</li>
                    <li>There was no easy, automated way to track or measure emissions, especially for last-mile
                        delivery</li>
                </ul>


            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/case1.webp" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>Developed a web-based Carbon Footprint Calculator for logistics emissions tracking</li>
                    <li>Integrated live data from shipping partners to enable real-time carbon scoring</li>
                    <li>Connected seamlessly with eCommerce platforms to help retailers monitor, report, and reduce
                        emissions</li>
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>Improved accuracy to track logistics related carbon emissions</li>
                    <li>Identified and reduced most carbon intensive areas in logistics</li>
                    <li>Increased customer trust by being transparent about carbon reduction efforts</li>
                </ul>
            </div>

        </div>
    </div>
</section>
 <section class="container py-3">
    <h2 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 2</h2>
</section>
 <section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">
                    Revolutionizing Fashion Rentals for a Sustainable Future </h4>
                <h5 class="h5 py-1 text-dark">Product/ Solution: Rental Fashion for Circular Economy </h5>
                <h5 class="h5 py-1 text-dark">Industry: Fashion & Lifestyle </h5>
                <h5 class="h5 py-1 text-dark">Objective: Create a sustainable marketplace for fashion rentals, offering
                    brands a new revenue channel while promoting long-term sustainability. </h5>
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>Lack of a unified marketplace connecting brands and consumers for fashion rentals</li>
                    <li>Limited access for customers to rent and return fashion items flexibly across locations</li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-lg-6 text-start">

                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>Developed a rental platform using the “Keep Your Stock” model, allowing brands to retain inventory control</li>
                    <li>Enabled data-driven insights into customer rental behavior for product portfolio optimization</li>
                    <li>Introduced a global pick-up and drop-off service for convenient cross-border rentals</li>
                    <li>Built the Resilience Engine, an AI tool for forecasting demand and identifying high-profit “hero” products</li>
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>Opened new revenue streams for brands through rental without losing inventory control</li>
                    <li>Helped brands build optimized product portfolios focused on high-demand, sustainable items</li>
                    <li>Supported sustainability goals by reducing waste and lowering carbon footprints through localized logistics and smarter supply chains</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/case2.webp" width="100%" height="350px">
            </div>
        </div>
    </div>
</section>

<section class="container py-3">
    <h2 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 3</h2>
</section>
<section class="bg-light w-100 pb-5">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Optimizing processes through AI and sustainability dashboards </h4>
                <h5 class="h5 py-1 text-dark">Industry: Healthcare </h5>
                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                <h5 class="h5 py-1 text-dark">Objective: Help facility managers optimize operations, enable preventive maintenance, and improve sustainability through AI-powered dashboards. </h5>
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>Limited visibility into remote, solar-powered oxygen plant operations</li>
                    <li>Manual monitoring of critical, energy-intensive systems in remote areas</li>
                    <li>No unified dashboard to ensure high availability or generate predictive alerts for maintenance and supply continuity</li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/case3.webp" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>Developed digital tools to onboard healthcare facilities, manage oxygen inventory, and schedule deliveries</li>
                    <li>Automated tracking, refills, and delivery workflows to streamline the oxygen supply chain</li>
                    <li>Built real-time dashboards for operational optimization, maintenance insights, and sustainability tracking</li>
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>Enabled real-time tracking of oxygen production and patient case visualization</li>
                    <li>Improved maintenance planning with predictive insights to avoid equipment failures and reduce costs</li>
                    <li>Delivered sustainability insights by comparing solar vs. electricity-powered plant performance for cost and efficiency benefits</li>
                </ul>
            </div>

        </div>
    </div>
</section>  