<section class="container py-1">

    <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Want to take your business to the next level?</h1>
    <h2 class="col-12 col-xl-8 h4 text-left regular-400">Join our InnoLution !!</h2>
    <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
        Partner with us to unlock innovative solutions, expert guidance, and cutting-edge technologies that drive growth
        and transformation.
        Let’s work together to turn your ideas into impact and build a future-ready business.
    </p>
    <div class="row projects gx-lg-5">

        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100">


                <img class="card-img-top" src="./assets/img/office.png" alt="..." width="100%" height="250px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>#906-P SEC-51 , GURUGRAM, Haryana, India - 122001 <br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>
                    
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100">


                <img class="card-img-top" src="./assets/img/new-zealand.jpg" alt="..." width="100%" height="250px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>11 Lowburn Place, Clover Park, Auckland, 2019, New Zealand<br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>
                    
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100">


                <img class="card-img-top" src="./assets/img/new-zealand.jpg" alt="..." width="100%" height="250px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>Pg. de la Vall d'Hebron, 60, Gracia, 08023 Barcelona,
                        Spain<br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>
                    
                </div>

            </div>
        </div>
        
        
    </div>
</section>
<section class="container py-5">
    <div class="row pb-4">
        <div class="col-lg-6">
            <!-- <div style="position:relative; width:100%; height:460px; overflow:hidden;">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1vJQ2grY6CHDmTQ-D6ynhVPRhrNOq6Rk&ehbc=2E312F"
                        style="position:absolute; top:-70px; width:100%; height:500px; border:0;"></iframe>
                </div> -->
            <div style="position:relative; width:100%; height:560px; overflow:hidden;">
                <iframe src="https://www.google.com/maps/d/embed?mid=1vJQ2grY6CHDmTQ-D6ynhVPRhrNOq6Rk&ehbc=2E312F"
                    style="position:absolute; top:-70px; width:100%; height:600px; border:0;">
                </iframe>
            </div>
        </div>


        <!-- Start Contact Form -->
        <div class="col-lg-6">
            <form class="contact-form row" method="post" action="#" role="form">

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="floatingname"
                            name="inputname" placeholder="Name">
                        <label for="floatingname light-300">Full Name</label>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="floatingemail"
                            name="inputemail" placeholder="Email">
                        <label for="floatingemail light-300">Email</label>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="floatingname"
                            name="inputname" placeholder="Name">
                        <label for="floatingname light-300">Destination</label>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="floatingcompany"
                            name="inputcompany" placeholder="Company Name">
                        <label for="floatingcompany light-300">Company Name</label>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="floatingphone"
                            name="inputphone" placeholder="Phone">
                        <label for="floatingphone light-300">Phone</label>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="1">India</option>
                            <option value="2">America</option>
                            <option value="3">New Zealand</option>
                        </select>
                        <label for="floatingcountry light-300">Country</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="1">India</option>
                            <option value="2">America</option>
                            <option value="3">New Zealand</option>
                        </select>
                        <label for="floatingcountry light-300">Subject</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea class="form-control light-300" rows="8" placeholder="Message"
                            id="floatingtextarea"></textarea>
                        <label for="floatingtextarea light-300">Message</label>
                    </div>
                </div>

                <div class="col-md-12 col-12 m-auto text-end">
                    <button type="submit"
                        class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Send
                        Message</button>
                </div>

            </form>
        </div>
        <!-- End Contact Form -->


    </div>

</section>