<section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-4">
                <h1 class="h2 pb-3 text-primary">Level up your business</h1>
                <h3 class="h4 regular-400">Join our InnoLution !!</h3>
                <p class="light-300">
                    Partner with us to unlock innovation, expert guidance, and technologies that drive growth and
                    transformation.
                </p>
            </div>
            <div class="contact-img col-lg-5 align-items-end col-md-12">

                <h2 class="col-12 col-xl-8 h4 text-left text-primaryregular-400">Join As a Partner</h2>
                <form [formGroup]="joinAsPatnercontactForm" (ngSubmit)="joinAsPatnerSubmit()" class="contact-form row"
                    role="form">

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="name"
                                formControlName="name" placeholder="Full Name">
                            <label for="name" class="light-300">Full Name</label>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="company"
                                formControlName="company" placeholder="Company Name">
                            <label for="company" class="light-300">Company Name</label>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="email" class="form-control form-control-lg light-300" id="email"
                                formControlName="email" placeholder="Email">
                            <label for="email" class="light-300">Email</label>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="phone"
                                formControlName="phone" placeholder="Phone">
                            <label for="phone" class="light-300">Phone</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control light-300" id="message" rows="8"
                                placeholder="Message / Proposal" formControlName="message"></textarea>
                            <label for="message" class="light-300">Message / Proposal</label>
                        </div>
                    </div>

                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit"
                            class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">
                            Submit
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</section>
<section class="container py-1">

    <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Have a question? Get in touch with us today !</h1>
    <h2 class="col-12 col-xl-8 h4 text-left regular-400">We’re Here to Help</h2>
    <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
        Unlock innovative solutions, expert guidance, and cutting-edge technologies that drive growth and
        transformation. Send us your query today — let’s turn your ideas into real impact and build a future-ready
        business together.
    </p>
    <!-- <div class="row projects gx-lg-5">

        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-2 h-100">


                <img class="card-img-top" src="./assets/img/office.png" alt="..." width="100%" height="200px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>#906-P SEC-51 , GURUGRAM, Haryana, India -
                        122001 <br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>

                </div>

            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-2 h-100">


                <img class="card-img-top" src="./assets/img/new-zealand.jpg" alt="..." width="100%" height="200px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>11 Lowburn Place, Clover Park, Auckland, 2019,
                        New Zealand<br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>

                </div>

            </div>
        </div>

        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-2 h-100">


                <img class="card-img-top" src="./assets/img/new-zealand.jpg" alt="..." width="100%" height="200px">
                <div class="card-body">
                    <h5 class="card-title light-400 text-dark">Clavrit Digital Solutions</h5>
                    <p class="card-text light-300 text-dark">
                        <i class='bx bx-map bx-fw bx-xs text-primary'></i>Pg. de la Vall d'Hebron, 60, Gracia, 08023
                        Barcelona,
                        Spain<br>
                        <i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-dark py-1"
                            href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </p>

                </div>

            </div>
        </div>


    </div> -->
</section>
<section class="container py-3">
    <div class="row pb-4">

        <div class="col-lg-5">

            <div class="contact row mb-4">
                <div class="contact-icon col-lg-3 col-3">
                    <div class="py-3 mb-2 text-center border rounded text-secondary">
                        <i class='display-6 fi fi-in'></i>
                    </div>
                </div>
                <ul class="contact-info list-unstyled col-lg-9 col-9  light-300">
                    <li class="h5 mb-0">Clavrit Digital Solutions</li>
                    <li class="text-muted"> <i class='bx bx-map bx-fw bx-xs text-primary'></i>#906-P SEC-51 , GURUGRAM,
                        Haryana, India - 122001</li>
                    <li class="text-muted"><i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-muted" href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </li>

                </ul>
            </div>

            <div class="contact row mb-4">
                <div class="contact-icon col-lg-3 col-3">
                    <div class="border py-3 mb-2 text-center border rounded text-secondary">
                        <i class='fi fi-nz display-6'></i>
                    </div>
                </div>
                <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                    <li class="h5 mb-0">Clavrit Digital Solutions</li>
                    <li class="text-muted"> <i class='bx bx-map bx-fw bx-xs text-primary'></i>11 Lowburn Place, Clover
                        Park, Auckland, 2019, New Zealand</li>
                    <li class="text-muted"><i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-muted" href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </li>
                </ul>
            </div>

            <div class="contact row mb-4">
                <div class="contact-icon col-lg-3 col-3">
                    <div class="border py-3 mb-2 text-center border rounded text-secondary">
                        <i class='fi fi-es display-6'></i>
                    </div>
                </div>
                <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                    <li class="h5 mb-0">Clavrit Digital Solutions</li>
                    <li class="text-muted"> <i class='bx bx-map bx-fw bx-xs text-primary'></i>Pg. de la Vall d'Hebron,
                        60, Gracia, 08023 Barcelona, Spain</li>
                    <li class="text-muted"><i class='bx-fw bx bx-mail-send bx-xs text-primary'></i><a
                            class="text-decoration-none text-muted" href="mailto:info@clavrit.com">infoclavrit.com</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-lg-7">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="row g-3">

                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Full Name"
                            formControlName="name">
                        <label for="name">Full Name</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="destination" placeholder="Destination"
                            formControlName="destination">
                        <label for="destination">Destination</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="company" placeholder="Company"
                            formControlName="company">
                        <label for="company">Company</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
                        <label for="phone">Phone</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-floating">
                        <select class="form-select" id="country" formControlName="country">
                            <option value="">Select</option>
                            <option value="India">India</option>
                            <option value="America">America</option>
                            <option value="New Zealand">New Zealand</option>
                        </select>
                        <label for="country">Country</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <select class="form-select" id="subject" formControlName="subject">
                            <option value="">Select</option>
                            <option value="Business Partnership">Business Partnership</option>
                            <option value="Career">Career</option>
                            <option value="Vendor Request">Vendor Request</option>
                            <option value="Others">Others</option>
                        </select>
                        <label for="subject">Subject</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Message" id="message" formControlName="message"
                            style="height: 150px;"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>

                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Send Message</button>
                </div>

            </form>



        </div>


    </div>

</section>



<section class="container py-2">
    <div class="row pb-4">
        <div class="col-lg-12">
            <div style="position:relative; width:100%; height:520px; overflow:hidden;">
                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1mdc49ZLffM3NMVa6Uv7vcTvaGtgtrOU&ehbc=2E312F"
                    style="position:absolute; top:-70px; width:100%; height:600px; border:0;">
                </iframe>

            </div>
        </div>


    </div>

</section>