<div id="portfolio_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Artificial Intelligence</h1>
            <!-- <h3 class="h4 pb-2 regular-400">Sustainability & </h3>
            <p class="banner-body pb-2 light-300">
                Clavrit delivers cutting-edge, client-focused IT solutions worldwide, specializing in SAP, Salesforce,
                AI, ML, and custom development,
                with award-winning projects and exceptional support that set us apart.
            </p> -->

            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300 no-focus-outline" routerLink="/contact">Contact Us</button>
        </div>
    </div>
</div>

<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Artificial Intelligence</h1>
                <p class="light-300">
                    AI is transforming industries by driving innovation, smarter products, and optimized services.
                    Clavrit helps you succeed in this journey with tailored solutions and expert advice for product
                    companies, IT firms, and startups. We embed intelligence through deep learning and automation,
                    boosting efficiency with AI-driven analytics and predictive maintenance. </p>
                <p class="light-300">
                    To meet rising AI demands, Clavrit provides skilled experts in Generative AI, NLP, Computer Vision,
                    and MLOps to scale your team without hiring hassles. Startups also benefit from free MVP
                    development, advisory support, and practical tools to integrate AI, accelerate innovation, and
                    identify key use cases for growth. </p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/Ai.jpg" width="100%" height="400px">
            </div>
        </div>
    </div>
</section>

<section id="agile-project-estimation-with-gen-ai" class="bg-white w-100 py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 1</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Estimate your next Agile Project with Generative AI</h4>
                <h5 class="h5 py-1 text-dark">Industry: Project Management</h5>
                <h5 class="h5 py-1 text-dark">Product: Manage Agile Projects to Budget</h5>
                <h5 class="h5 py-1 text-dark">Objective: Simplify agile team performance tracking with using the power
                    of Generative AI </h5>
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>Inconsistency in project delivery – timelines and budget</li>
                    <li>Frustration for project sponsors and stakeholders</li>
                    <li>Loss in revenue for businesses</li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/baseliner.png" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>Generative AI & GPT-powered tool refines project task estimation</li>
                    <li>Trained on large datasets to predict highly accurate estimates</li>
                    <li>Tailored AI tech to solve onshore-offshore delivery challenges</li>
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>High confidence for sponsors in on-time, on-budget delivery</li>
                    <li>Reduced risk through near-accurate sprint task estimates</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section class="bg-white w-100 py-3" id="Integrated-AI-experts-into-a-leading-IT-firm">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 2</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Integrated AI experts into a leading IT firm</h4>
                <h5 class="h5 py-1 text-dark">Industry: IT consulting</h5>
                <h5 class="h5 py-1 text-dark">Service: AI development and deployment</h5>
                <h5 class="h5 py-1 text-dark">Objective: Partnership with a leading IT firm to extend their AI team for
                    quality project delivery</h5>
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>AI Talent Gap: The IT firm lacked in-house AI expertise to meet growing project demands and timelines</li>
                    <li>Scaling Challenges: Needed rapid team expansion without incurring high recruitment and training costs</li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-lg-6 text-start">

                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>AI Solutions & Integration: Clavrit delivered swift, tailored AI solutions with smooth team and workflow integration</li>
                    <li>Full-Cycle Services: From idea to deployment, Clavrit ensured end-to-end AI support for real business impact</li>
                    
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>Quality Project Delivery: Seamless integration of AI experts led to faster project delivery with high quality and innovation</li>
                    <li>Faster Time-to-Market: With our AI team extension, they accelerated product development and stayed ahead of the competition</li>
                    <li>Cost Efficiency: Saved recruitment, training, and infrastructure costs while gaining immediate access to our specialized AI experts</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/ai-case2.jpg" width="100%" height="350px">
            </div>
        </div>
    </div>
</section>
<section id="optimizing-processes-through-ai" class="bg-white w-100 py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 3</h1>
</section>

<section  class="bg-light w-100 pb-5">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Optimizing processes through AI </h4>
                <h5 class="h5 py-1 text-dark">Industry: Healthcare</h5>
                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                <h5 class="h5 py-1 text-dark">Objective: Create AI Dashboards for optimization, preventive maintenance
                    and sustainability </h5>
                
                <h5 class="h5 py-2 text-dark">Problem</h5>
                <ul class="mb-3 ps-3">
                    <li>Ensuring an uninterrupted oxygen supply to all nearby hospitals, preventing any shortages</li>
                    <li>Facilitating seamless patient transfers between hospitals based on real-time oxygen availability</li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/ai-case3.jpg" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h5 class="h5 py-2 text-dark">Solution</h5>
                <ul class="mb-4 ps-3">
                    <li>Effient Oxygen Generation: We produce medical-grade oxygen to fill cylinders as per real-time demand</li>
                    <li>Demand-Driven Supply: Hospitals receive oxygen supply based on live dashboard data, ensuring optimal distribution</li>
                    <li>Sustainable Energy Source: Oxygen is generated using solar power, reducing reliance on conventional energy sources</li>
                  
                    
                </ul>
                <h4 class="h4 text-primary py-1">Results</h4>
                <ul class="ps-3">
                    <li>Seamless Patient Transfers: Patients can be moved between hospitals based on oxygen availability, ensuruninterrupted care</li>
                    <li>while ensuring a reliable medical oxygen supply</li>
                   
                </ul>
            </div>

        </div>
    </div>
</section>