<section class="py-3 bg-light d-flex body-container">
    <div class="container h-100 flex-grow-1 d-flex flex-column justify-content-evenly align-items-center">
        <h2 class="text-primary">{{pageTitle}}</h2>
        <div class="container w-100 d-flex justify-content-between align-items-center py-2">
            <div class="flex-grow-1 me-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                        [(ngModel)]="searchText" (input)="currentPage = 1">
                    <!-- <button class="btn btn-outline-secondary" type="button">
                        <i class='bx bx-search'></i>
                    </button> -->
                </div>
            </div>
            <div *ngIf="type !== 'job-application' && type !== 'contact'">
                <button type="button"
                    class="btn btn-primary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300"
                    (click)="form()">
                    Add New
                </button>
            </div>
        </div>

        <div *ngIf="type === 'client'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <!-- <th>Company Logo</th> -->
                        <th>Company Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{content.name}}</td>
                        <td>{{content.email}}</td>
                        <td>{{content.phone}}</td>
                        <!-- <td>
                            {{content.companyLogo}}
                        </td> -->
                        <td>{{content.company}}</td>

                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <!-- <button class="btn p-1" (click)="openDeleteModal(content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button> -->

                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>





                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="type === 'blog'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Title</th>
                        <th>Author Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.title}}</td>
                        <td>{{content.authorName}}</td>


                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>



                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="type === 'project'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Title</th>
                        <th>Summary</th>
                        <th>Technology</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- "id": 5,
            "title": "Sample Project Title",
            "summary": "This is a short summary of the project.",
            "imageUrl": [
                "http://157.20.190.17/upload/project/images/2a3e8eef-e55a-4a40-ab44-91a0c90c227e_Ai.jpg"
            ],
            "technologies": [],
            "keyPoints": [], -->
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.title}}</td>
                        <td>{{content.summary}}</td>
                        <td>{{content.technologies}}</td>
                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>



                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="type === 'service'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Name</th>
                        
                        <th>Sub Heading</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.name}}</td>
                        <td>{{content.type}}</td>
                        <td>{{content.description | slice:0:80}}...</td>
                        
                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="type === 'job-detail'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Job Category</th>
                        <th>Designation</th>
                        <th>Job Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.jobCategory}}</td>
                        <td>{{content.jobDesignation}}</td>
                        <td>{{content.jobType}}</td>
                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="type === 'job-application'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Job Category</th>
                        <th>Resume</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.fullName}}</td>
                        <td>{{content.email}}</td>
                        <td>{{content.phone}}</td>
                        <td>{{content.jobAppliedFor}}</td>
                        <td><button (click)="downloadResume(content.resumeFilePath, content.fullName)"
                                class="download-btn"><img src="../../../assets/img/Downloading.svg" width="20px"
                                    height="20px"></button></td>
                        <td class="d-flex justify-content-center gap-2">

                            <!-- <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button> -->
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div *ngIf="type === 'business-stats'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Title</th>
                        <th>Value</th>
                         <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{content.title}}</td>
                        <td>{{content.value}}</td>
                   

                        <td class="d-flex justify-content-center gap-2">

                            <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button>
                            <!-- <button class="btn p-1" (click)="openDeleteModal(content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button> -->

                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div *ngIf="type === 'tools'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Image Url</th>
                       
                         <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{content.imageUrl}}</td>
                 
                        <td class="d-flex justify-content-center gap-2">

                            <!-- <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button> -->
                            <!-- <button class="btn p-1" (click)="openDeleteModal(content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button> -->

                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div *ngIf="type === 'contact'" class="container">
            <table class="data-table w-100">
                <thead class="table-header bg-primary">
                    <tr class="text-center custom-font">
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Company Name</th>
                        <th>Coutry</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data" *ngFor="let content of contentListview; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{content.name}}</td>
                        <td>{{content.email}}</td>
                        <td>{{content.phone}}</td>
                        <td>{{content.company}}</td>
                        <td>{{content.country}}</td>
                        <td class="d-flex justify-content-center gap-2">

                            <!-- <button class="btn p-1" (click)="edit(content)">
                                <i class='bx bx-edit fs-5 text-primary'></i>
                            </button> -->
                            <button class="btn p-1" (click)="openDeleteModal(type, content.id)">
                                <i class='bx bx-trash fs-5 text-danger'></i>
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination-ul d-flex justify-content-center align-items-center mt-4">
                    <li class="" [class.disabled]="currentPage === 1">
                        <a class="" (click)="changePage(currentPage - 1)">
                            <i class='display-6 bx bx-chevron-left text-primary'></i>
                        </a>
                    </li>

                    <li class="ms-3 fs-5" *ngFor="let page of [].constructor(getTotalPages()); let i = index"
                        [class.active]="currentPage === i + 1">
                        <a class="" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>

                    <li class="ms-3" [class.disabled]="currentPage === getTotalPages()">
                        <a class="" (click)="changePage(currentPage + 1)">
                            <i class='display-6 bx bx-chevron-right text-primary'></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <app-delete-popup *ngIf="showDeleteModal" [type]="deleteType" [id]="deleteId" (confirmed)="handleDelete($event)"
        (cancelled)="showDeleteModal = false">
    </app-delete-popup>

</section>