<div id="portfolio_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">
                Our Work. Real Impact.
            </h1>
            <!-- <h3 class="h4 pb-2 regular-400">Our Work. Real Impact.</h3> -->
            <p class="banner-body pb-2 light-300">
                We help enterprises lead with innovation — from sustainable logistics to
                AI-driven systems. Here’s how we turn vision into execution.
            </p>

            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300"
                routerLink="/contact">
                Contact Us
            </button>
        </div>
    </div>
</div>
<section class="bg-light py-3">
    <div class="container">
        <!-- <h5 class="text-primary fw-bold mb-3">SUSTAINABILITY</h5> -->
        <h1 class="h2 py-3 text-primary typo-space-line">Sustainability</h1>
        <div class="accordion py-3" id="sustainabilityAccordioncase1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOnecase1">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOnecase1">
                        E-Commerce Logistics Carbon Calculator
                    </button>
                </h2>
                <div id="collapseOnecase1" class="accordion-collapse collapse"
                    data-bs-parent="#sustainabilityAccordioncase1">

                    <div class="container">
                        <div class="d-flex align-items-center py-3">
                            <div class="col-lg-12 text-start">
                                <h4 class="h4 py-1 text-primary">Reducing Carbon Footprint in eCommerce Logistics with
                                    the Carbon
                                    Footprint Calculator </h4>
                                <h5 class="h5 py-1 text-dark">Industry: eCommerce</h5>
                                <h5 class="h5 py-1 text-dark">Product: Carbon Footprint Calculator</h5>
                                <h5 class="h5 py-1 text-dark">Objective: Enables eCommerce retailers to accurately
                                    calculate and reduce
                                    carbon emissions from logistics. </h5>
                                <h5 class="h5 py-2 text-dark">Overview</h5>
                                <p class="light-400">
                                    As environmental sustainability becomes increasingly vital for businesses, eCommerce
                                    retailers face
                                    challenges in reducing their carbon footprint. Logistics, particularly the
                                    transportation of goods,
                                    significantly contributes to carbon emissions. To help tackle this issue, We at
                                    Clavrit helped our
                                    customer develop a Carbon Footprint Calculator—a tool designed specifically to
                                    measure and mitigate
                                    the carbon emissions produced by logistics in the eCommerce industry.
                                </p>
                                <h5 class="h5 py-2 text-dark">Solution</h5>
                                <p class="light-400">
                                    Carbon Footprint Calculator isa robust solution aimed at providing retailers with
                                    detailed data on
                                    their carbon emissions from logistics. The tool collects data from various logistics
                                    touchpoints,
                                    including shipping routes, warehouse locations, and transport methods, then uses a
                                    proprietary
                                    algorithm to estimate the carbon footprint for every order shipped.
                                </p>
                                <p class="light-400">
                                    The calculator was seamlessly integrated with various Commerce platforms, enabling
                                    real-time
                                    analysis for retailers directly from their eCommerce platforms. The data allows
                                    retailers to track
                                    their environmental impact and make informed decisions about their shipping
                                    processes, helping them
                                    not only report but also actively reduce their emissions.
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6">
                                <img src="./assets/img/case1.png" width="100%" height="350px">
                            </div>
                            <div class="col-lg-6 text-start">

                                <h4 class="h4 text-primary py-1">Results</h4>
                                <p class="light-400">
                                    Accurate Reporting: Retailers using the Carbon Footprint Calculator saw an immediate
                                    improvement in
                                    their ability to track logistics-related carbon emissions with precision. </p>
                                <p class="light-400">
                                    Sustainability Optimization: By identifying the most carbon-intensive aspects of
                                    their logistics
                                    operations, retailers were able to make strategic adjustments. </p>
                                <p class="light-400">
                                    Improved Customer Engagement: Retailers reported that the tool helped strengthen
                                    relationships with
                                    eco-conscious consumers. By being transparent about their efforts to reduce carbon
                                    emissions, these
                                    businesses could enhance brand loyalty and appeal to a growing market segment that
                                    prioritizes
                                    sustainability. </p>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="accordion py-3" id="sustainabilityAccordioncase2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOnecase2">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOnecase2">
                        Fashion Rental for Circular Economy
                    </button>
                </h2>
                <div id="collapseOnecase2" class="accordion-collapse collapse"
                    data-bs-parent="#sustainabilityAccordioncase2">

                    <div class="container">
                        <div class="d-flex align-items-center py-3">
                            <div class="col-lg-12 text-start">
                                <h4 class="h4 py-1 text-primary">
                                    Revolutionizing Fashion Rentals for a Sustainable Future </h4>
                                <h5 class="h5 py-1 text-dark">Product/ Solution: Rental Fashion for Circular Economy
                                </h5>
                                <h5 class="h5 py-1 text-dark">Industry: Fashion & Lifestyle </h5>
                                <h5 class="h5 py-1 text-dark">Objective: Create a sustainable marketplace for fashion
                                    rentals, offering
                                    brands a new revenue channel while promoting long-term sustainability. </h5>
                                <h5 class="h5 py-2 text-dark">Overview</h5>
                                <p class="light-400">
                                    The customer was interested to build a revolutionary platform that introduces a
                                    sustainable way for
                                    brands to offer rental services to customers. By developing a marketplace that
                                    caters to both
                                    consumers and brands, the platform allows brands to rent out their products, giving
                                    them control
                                    over inventory while generating additional revenue. Simultaneously, customers can
                                    enjoy a
                                    personalized cloud wardrobe, with the freedom to rent and return fashion items on a
                                    global scale.
                                </p>
                                <h5 class="h5 py-2 text-dark">Solution</h5>
                                <p class="light-400">
                                    Clavrit helped the customer develop a unique solution with its ” Keep Your Stock”
                                    model, allowing
                                    brands to retain control over their inventory while tapping into the growing rental
                                    market. Through
                                    a data-driven approach, the platform provides insights into customer rental
                                    behaviours, helping
                                    brands optimize their product portfolio for profitability and long-term
                                    sustainability.
                                    Additionally, it offers a global pick-up-and-drop service, making it convenient for
                                    travellers to
                                    access their favourite brands anywhere in the world.
                                </p>
                                <p class="light-400">
                                    Clavrit also developed a Resilience Engine, an AI-powered tool that analyses demand
                                    forecasting as a
                                    function of price and quality. This engine helps brands identify their “hero”
                                    products—those with
                                    the highest profitability in the rental market—and build a resilient, profitable
                                    product portfolio.
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">

                            <div class="col-lg-6 text-start">

                                <h4 class="h4 text-primary py-1">Results</h4>
                                <p class="light-400">
                                    New Revenue Streams: Brands successfully unlocked rental as a new revenue channel,
                                    increasing
                                    profitability without sacrificing product control. </p>
                                <p class="light-400">
                                    Optimized Product Portfolio: By identifying the most resilient and in-demand
                                    products, brands were
                                    able to focus on quality over quantity, reducing waste and achieving long-term
                                    sustainability. </p>
                                <p class="light-400">
                                    Sustainability Milestones: With a focus on reducing carbon footprints through local
                                    circulation
                                    points and optimizing supply chains, the platform helped both brands and customers
                                    contribute to a
                                    more sustainable fashion industry. </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="./assets/img/case2.jpeg" width="100%" height="350px">
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="accordion py-3" id="sustainabilityAccordioncase3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOnecase3">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOnecase3">
                        HVAC Optimization Dashboard
                    </button>
                </h2>
                <div id="collapseOnecase3" class="accordion-collapse collapse"
                    data-bs-parent="#sustainabilityAccordioncase3">

                    <div class="container">
                        <div class="d-flex align-items-center py-3">
                            <div class="col-lg-12 text-start">
                                <h4 class="h4 py-1 text-primary">Optimizing processes through AI and sustainability
                                    dashboards </h4>
                                <h5 class="h5 py-1 text-dark">Industry: Healthcare </h5>
                                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                                <h5 class="h5 py-1 text-dark">Objective: Create AI Dashboards for optimization,
                                    preventive maintenance
                                    and sustainability </h5>
                                <h5 class="h5 py-2 text-dark">Overview</h5>
                                <p class="light-400">
                                    The Customer offers Integrated oxygen plants that use solar energy to power the
                                    oxygen generations.
                                    They create trusted oxygen sites that are ready to serve reliably. The customer
                                    works with hospitals
                                    and home care agencies to ensure seamless oxygen supply.
                                </p>
                                <p class="light-400">
                                    The customer is located in a market that has challenges of inconsistent healthcare
                                    delivery due to
                                    limited access to medical oxygen. The customer has a unique eco-friendly business of
                                    using Solar
                                    powered plants to produce oxygen. Such plants can be attached to hospitals do ensure
                                    seamless supply
                                    of medical oxygen to all wards, from neonatal to emergency wards. The locations of
                                    such plates are
                                    often remote and high availability has to be ensured as there is a critical
                                    dependency on supplies
                                    of oxygen.
                                </p>
                                <h5 class="h5 py-2 text-dark">Solution</h5>
                                <p class="light-400">
                                    Clavrit works together with the customer for digital transformation and create
                                    solutions to
                                    streamline the entire process, from onboarding facilities and managing inventory to
                                    scheduling
                                    deliveries. By eliminating inefficiencies and optimizing the flow of medical oxygen,
                                    we ensure that
                                    no patient is left waiting at critical moments.
                                </p>
                                <p class="light-400">
                                    Clavrit provides user-friendly software and digital platforms that help healthcare
                                    facilities
                                    register patients and efficiently manage oxygen inventory. These tools automate
                                    tracking, refills,
                                    and deliveries to ensure a smooth supply chain. Clavrit’s optimization, maintenance,
                                    and
                                    sustainability dashboards offer real-time insights on availability, logistics, and
                                    carbon impact,
                                    helping customers meet social and environmental goals.

                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6">
                                <img src="./assets/img/case3.jpg" width="100%" height="350px">
                            </div>
                            <div class="col-lg-6 text-start">

                                <h4 class="h4 text-primary py-1">Results</h4>
                                <p class="light-400">
                                    Inventory Tracking: Real-time tracking of generated oxygen and optimized production
                                    based on demand.
                                    Visualize patient cases and diagnosis summary. </p>
                                <p class="light-400">
                                    Preventive Maintenance: Accurate forecasts of equipment’s maintenance. To prevent
                                    failures and
                                    reduce operation costs. Visualizes equipment’s run-time, previous maintenance
                                    summary and possible
                                    scenarios causing failure. </p>
                                <p class="light-400">
                                    Impact Analytics: This sustainability dashboard visualizes insights between solar
                                    and an electricity
                                    powered plant on relative cost savings, efficiency improvements and better customer
                                    experience. </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-light py-3">
    <div class="container">
        <h1 class="h2 py-3 text-primary typo-space-line">Artificial Intelligence</h1>
        <div class="accordion py-3" id="aiAccordioncase1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOneaicase1">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneaicase1">
                        Agile Project Estimation with Gen AI
                    </button>
                </h2>
                <div id="collapseOneaicase1" class="accordion-collapse collapse" data-bs-parent="#aiAccordioncase1">

                    <div class="container py-5">
                        <div class="row align-items-center g-5">
                            <div class="col-lg-6">
                                <img src="./assets/img/baseliner.png" class="img-fluid rounded shadow"
                                    alt="Baseliner Tool">
                            </div>
                            <div class="col-lg-6">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body">
                                        <h5 class="text-primary mb-3">Industry</h5>
                                        <p class="mb-4">Project Management</p>

                                        <h5 class="text-primary mb-3">Product</h5>
                                        <p class="mb-4">Manage Agile Projects to Budget</p>

                                        <h5 class="text-primary mb-3">Objective</h5>
                                        <p class="mb-4">
                                            Simplify agile team performance tracking using the power of Generative AI.
                                        </p>

                                        <h5 class="text-primary mb-3">Problem</h5>
                                        <ul class="mb-4 ps-3">
                                            <li>Inconsistency in project delivery – timelines and budget</li>
                                            <li>Frustration for project sponsors and stakeholders</li>
                                            <li>Loss in revenue for businesses</li>
                                        </ul>

                                        <h5 class="text-primary mb-3">Solution</h5>
                                        <ul class="mb-4 ps-3">
                                            <li>Generative AI & GPT-powered tool refines project task estimation</li>
                                            <li>Trained on large datasets to predict highly accurate estimates</li>
                                            <li>Tailored AI tech to solve onshore-offshore delivery challenges</li>
                                        </ul>

                                        <h5 class="text-primary mb-3">Results</h5>
                                        <ul class="ps-3">
                                            <li>High confidence for sponsors in on-time, on-budget delivery</li>
                                            <li>Reduced risk through near-accurate sprint task estimates</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <div class="accordion py-3" id="aiAccordioncase2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOneaicase2">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneaicase2">
                        AI-Powered Item Loading System
                    </button>
                </h2>
                <div id="collapseOneaicase2" class="accordion-collapse collapse" data-bs-parent="#aiAccordioncase2">

                    <div class="container">
                        <div class="d-flex align-items-center py-3">
                            <div class="col-lg-12 text-start">
                                <h4 class="h4 py-1 text-primary">Integrated AI experts into a leading IT firm</h4>
                                <h5 class="h5 py-1 text-dark">Industry: IT consulting</h5>
                                <h5 class="h5 py-1 text-dark">Service: AI development and deployment</h5>
                                <h5 class="h5 py-1 text-dark">Objective: Partnership with a leading IT firm to extend
                                    their AI team for
                                    quality project delivery</h5>
                                <h5 class="h5 py-2 text-dark">Overview</h5>
                                <p class="light-400">
                                    We partnered with a leading IT services firm to extend their AI team by embedding AI
                                    engineers,
                                    enabling them to develop and deploy machine learning, deep learning, generative ai
                                    models.
                                </p>
                                <h5 class="h5 py-2 text-dark">Solution</h5>
                                <p class="light-400">
                                    Clavrit’s team of experienced AI engineers and machine learning experts enhanced
                                    live projects with
                                    swift, effective solutions. From NLP and Generative AI to predictive analytics and
                                    automation, our
                                    experts delivered tailored AI solutions aligned with business goals while ensuring
                                    smooth
                                    integration with existing teams, workflows, and tools to maximize productivity with
                                    minimal
                                    disruption.
                                </p>
                                <p class="light-400">
                                    From ideation and prototype development to deployment and ongoing optimization,
                                    Clavrit provided
                                    full-cycle AI services to help businesses unlock real value from their AI
                                    investments.
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">

                            <div class="col-lg-6 text-start">

                                <h4 class="h4 text-primary py-1">Results</h4>
                                <p class="light-400">
                                    Quality Project Delivery: Seamless integration of AI experts led to faster project
                                    delivery with
                                    high quality and innovation.

                                </p>
                                <p class="light-400">
                                    Faster Time-to-Market: With our AI team extension, they accelerated product
                                    development and stayed
                                    ahead of the competition.</p>
                                <p class="light-400">
                                    Cost Efficiency: Saved recruitment, training, and infrastructure costs while gaining
                                    immediate
                                    access to our specialized AI experts.

                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="./assets/img/ai-case2.jpg" width="100%" height="350px">
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="accordion py-3" id="aiAccordioncase3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOneaicase3">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneaicase3">
                        AI-Based Oxygen Generation Control
                    </button>
                </h2>
                <div id="collapseOneaicase3" class="accordion-collapse collapse" data-bs-parent="#aiAccordioncase3">

                    <div class="container">
                        <div class="d-flex align-items-center py-3">
                            <div class="col-lg-12 text-start">
                                <h4 class="h4 py-1 text-primary">Optimizing processes through AI </h4>
                                <h5 class="h5 py-1 text-dark">Industry: Healthcare</h5>
                                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                                <h5 class="h5 py-1 text-dark">Objective: Create AI Dashboards for optimization,
                                    preventive maintenance
                                    and sustainability </h5>
                                <h5 class="h5 py-2 text-dark">Overview</h5>
                                <p class="light-400">
                                    The customer provides integrated, solar-powered oxygen plants that ensure a reliable
                                    and
                                    eco-friendly medical oxygen supply. They partner with hospitals and home care
                                    agencies to deliver
                                    consistent oxygen access, even in remote areas with limited healthcare
                                    infrastructure. These plants
                                    support all hospital wards, from neonatal to emergency, meeting the critical need
                                    for uninterrupted
                                    oxygen delivery.

                                </p>
                                <h5 class="h5 py-2 text-dark">Solution</h5>
                                <p class="light-400">
                                    Clavrit partners with the customer to drive digital transformation and streamline
                                    the entire
                                    process, from onboarding facilities and managing inventory to scheduling deliveries.
                                    By eliminating
                                    inefficiencies and optimizing the flow of medical oxygen, we help ensure that no
                                    patient is left
                                    waiting when it matters most.
                                </p>
                                <p class="light-400">
                                    We have implemented user-friendly software and digital platforms that enable
                                    healthcare facilities
                                    to easily register patients, track oxygen levels, schedule refills, and coordinate
                                    deliveries,
                                    ensuring a smooth and error-free supply chain. Clavrit’s optimization, preventive
                                    maintenance, and
                                    sustainability dashboards provide real-time insights on availability, logistics,
                                    pre-orders, and key
                                    sustainability metrics like solar energy generation and carbon offset, helping the
                                    customer
                                    demonstrate their positive impact and meet social and environmental commitments.
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6">
                                <img src="./assets/img/ai-case3.jpg" width="100%" height="350px">
                            </div>
                            <div class="col-lg-6 text-start">

                                <h4 class="h4 text-primary py-1">Results</h4>
                                <p class="light-400">
                                    Inventory Tracking: Real-time tracking of generated oxygen and optimized production
                                    based on demand.
                                    Visualize patient cases and diagnosis summary. </p>
                                <p class="light-400">
                                    Preventive Maintenance: Accurate forecasts of equipment’s maintenance. To prevent
                                    failures and
                                    reduce operation costs. Visualizes equipment’s run-time, previous maintenance
                                    summary and possible
                                    scenarios causing failure.</p>
                                <p class="light-400">
                                    Impact Analytics: This sustainability dashboard visualizes insights between solar
                                    and an electricity
                                    powered plant on relative cost savings, efficiency improvements and better customer
                                    experience.</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>