<div id="portfolio_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Our Portfolio</h1>
            <h3 class="h4 pb-2 regular-400">Sustainability & Artificial Intelligence</h3>
            <p class="banner-body pb-2 light-300">
                Clavrit delivers cutting-edge, client-focused IT solutions worldwide, specializing in SAP, Salesforce,
                AI, ML, and custom development,
                with award-winning projects and exceptional support that set us apart.
            </p>

            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Contact Us</button>
        </div>
    </div>
</div>
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Sustainability</h1>
                <p class="light-300">
                    Clavrit collaborates with industries to drive climate action and sustainability initiatives through
                    innovative software development. Our key focus areas include visual data analytics (dashboards) for
                    carbon offset tracking, carbon mapping, impact assessment, circular economy, and upcycling. The
                    majority of these solutions utilize AI and machine learning to provide enhanced analysis and deliver
                    actionable insights. Our team of ESG experts offers specialized guidance to ensure project success.
                </p>
                <p class="light-300">
                    In collaboration with our acceleration partner, Clavrit supports capital raising efforts from EU
                    impact funds for solutions that meet eligibility requirements for European sustainability funding.
                    To further showcase our expertise in ESG solutions, we provide complimentary advisory services and
                    MVP development support, helping our clients contribute to a more sustainable future.
                </p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/sustainability.jpg" width="100%">
            </div>
        </div>
    </div>
</section>
<section class="container py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 1</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Reducing Carbon Footprint in eCommerce Logistics with the Carbon
                    Footprint Calculator </h4>
                <h5 class="h5 py-1 text-dark">Industry: eCommerce</h5>
                <h5 class="h5 py-1 text-dark">Product: Carbon Footprint Calculator</h5>
                <h5 class="h5 py-1 text-dark">Objective: Enables eCommerce retailers to accurately calculate and reduce
                    carbon emissions from logistics. </h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    As environmental sustainability becomes increasingly vital for businesses, eCommerce retailers face
                    challenges in reducing their carbon footprint. Logistics, particularly the transportation of goods,
                    significantly contributes to carbon emissions. To help tackle this issue, We at Clavrit helped our
                    customer develop a Carbon Footprint Calculator—a tool designed specifically to measure and mitigate
                    the carbon emissions produced by logistics in the eCommerce industry.
                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Carbon Footprint Calculator isa robust solution aimed at providing retailers with detailed data on
                    their carbon emissions from logistics. The tool collects data from various logistics touchpoints,
                    including shipping routes, warehouse locations, and transport methods, then uses a proprietary
                    algorithm to estimate the carbon footprint for every order shipped.
                </p>
                <p class="light-400">
                    The calculator was seamlessly integrated with various Commerce platforms, enabling real-time
                    analysis for retailers directly from their eCommerce platforms. The data allows retailers to track
                    their environmental impact and make informed decisions about their shipping processes, helping them
                    not only report but also actively reduce their emissions.
                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/case1.png" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    Accurate Reporting: Retailers using the Carbon Footprint Calculator saw an immediate improvement in
                    their ability to track logistics-related carbon emissions with precision. </p>
                <p class="light-400">
                    Sustainability Optimization: By identifying the most carbon-intensive aspects of their logistics
                    operations, retailers were able to make strategic adjustments. </p>
                <p class="light-400">
                    Improved Customer Engagement: Retailers reported that the tool helped strengthen relationships with
                    eco-conscious consumers. By being transparent about their efforts to reduce carbon emissions, these
                    businesses could enhance brand loyalty and appeal to a growing market segment that prioritizes
                    sustainability. </p>
            </div>

        </div>
    </div>
</section>
<section class="container py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 2</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">
                    Revolutionizing Fashion Rentals for a Sustainable Future </h4>
                <h5 class="h5 py-1 text-dark">Product/ Solution: Rental Fashion for Circular Economy </h5>
                <h5 class="h5 py-1 text-dark">Industry: Fashion & Lifestyle </h5>
                <h5 class="h5 py-1 text-dark">Objective: Create a sustainable marketplace for fashion rentals, offering
                    brands a new revenue channel while promoting long-term sustainability. </h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    The customer was interested to build a revolutionary platform that introduces a sustainable way for
                    brands to offer rental services to customers. By developing a marketplace that caters to both
                    consumers and brands, the platform allows brands to rent out their products, giving them control
                    over inventory while generating additional revenue. Simultaneously, customers can enjoy a
                    personalized cloud wardrobe, with the freedom to rent and return fashion items on a global scale.
                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Clavrit helped the customer develop a unique solution with its ” Keep Your Stock” model, allowing
                    brands to retain control over their inventory while tapping into the growing rental market. Through
                    a data-driven approach, the platform provides insights into customer rental behaviours, helping
                    brands optimize their product portfolio for profitability and long-term sustainability.
                    Additionally, it offers a global pick-up-and-drop service, making it convenient for travellers to
                    access their favourite brands anywhere in the world.
                </p>
                <p class="light-400">
                    Clavrit also developed a Resilience Engine, an AI-powered tool that analyses demand forecasting as a
                    function of price and quality. This engine helps brands identify their “hero” products—those with
                    the highest profitability in the rental market—and build a resilient, profitable product portfolio.
                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    New Revenue Streams: Brands successfully unlocked rental as a new revenue channel, increasing
                    profitability without sacrificing product control. </p>
                <p class="light-400">
                    Optimized Product Portfolio: By identifying the most resilient and in-demand products, brands were
                    able to focus on quality over quantity, reducing waste and achieving long-term sustainability. </p>
                <p class="light-400">
                    Sustainability Milestones: With a focus on reducing carbon footprints through local circulation
                    points and optimizing supply chains, the platform helped both brands and customers contribute to a
                    more sustainable fashion industry. </p>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/case2.jpeg" width="100%" height="350px">
            </div>
        </div>
    </div>
</section>
<section class="container py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 3</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Optimizing processes through AI and sustainability dashboards </h4>
                <h5 class="h5 py-1 text-dark">Industry: Healthcare </h5>
                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                <h5 class="h5 py-1 text-dark">Objective: Create AI Dashboards for optimization, preventive maintenance
                    and sustainability </h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    The Customer offers Integrated oxygen plants that use solar energy to power the oxygen generations.
                    They create trusted oxygen sites that are ready to serve reliably. The customer works with hospitals
                    and home care agencies to ensure seamless oxygen supply.
                </p>
                <p class="light-400">
                    The customer is located in a market that has challenges of inconsistent healthcare delivery due to
                    limited access to medical oxygen. The customer has a unique eco-friendly business of using Solar
                    powered plants to produce oxygen. Such plants can be attached to hospitals do ensure seamless supply
                    of medical oxygen to all wards, from neonatal to emergency wards. The locations of such plates are
                    often remote and high availability has to be ensured as there is a critical dependency on supplies
                    of oxygen.
                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Clavrit works together with the customer for digital transformation and create solutions to
                    streamline the entire process, from onboarding facilities and managing inventory to scheduling
                    deliveries. By eliminating inefficiencies and optimizing the flow of medical oxygen, we ensure that
                    no patient is left waiting at critical moments.
                </p>
                <p class="light-400">
                    Clavrit provides user-friendly software and digital platforms that help healthcare facilities
                    register patients and efficiently manage oxygen inventory. These tools automate tracking, refills,
                    and deliveries to ensure a smooth supply chain. Clavrit’s optimization, maintenance, and
                    sustainability dashboards offer real-time insights on availability, logistics, and carbon impact,
                    helping customers meet social and environmental goals.

                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/case3.jpg" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    Inventory Tracking: Real-time tracking of generated oxygen and optimized production based on demand.
                    Visualize patient cases and diagnosis summary. </p>
                <p class="light-400">
                    Preventive Maintenance: Accurate forecasts of equipment’s maintenance. To prevent failures and
                    reduce operation costs. Visualizes equipment’s run-time, previous maintenance summary and possible
                    scenarios causing failure. </p>
                <p class="light-400">
                    Impact Analytics: This sustainability dashboard visualizes insights between solar and an electricity
                    powered plant on relative cost savings, efficiency improvements and better customer experience. </p>
            </div>

        </div>
    </div>
</section>


<section class="bg-light w-100 mt-5">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Artificial Intelligence</h1>
                <p class="light-300">
                    AI is transforming industries by driving innovation, smarter products, and optimized services.
                    Clavrit helps you succeed in this journey with tailored solutions and expert advice for product
                    companies, IT firms, and startups. We embed intelligence through deep learning and automation,
                    boosting efficiency with AI-driven analytics and predictive maintenance. </p>
                <p class="light-300">
                    To meet rising AI demands, Clavrit provides skilled experts in Generative AI, NLP, Computer Vision,
                    and MLOps to scale your team without hiring hassles. Startups also benefit from free MVP
                    development, advisory support, and practical tools to integrate AI, accelerate innovation, and
                    identify key use cases for growth. </p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/Ai.jpg" width="100%" height="400px">
            </div>
        </div>
    </div>
</section>

<section class="bg-white w-100 py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 1</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Estimate your next Agile Project with Generative AI</h4>
                <h5 class="h5 py-1 text-dark">Industry: Project Management</h5>
                <h5 class="h5 py-1 text-dark">Product: Manage Agile Projects to Budget</h5>
                <h5 class="h5 py-1 text-dark">Objective: Simplify agile team performance tracking with using the power
                    of Generative AI </h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    Software projects on average run 66 percent over budget and 33 percent over schedule, making it
                    difficult for business executives to manage stakeholder expectations. Project managers rely heavily
                    on project collaboration tools for managing tasks, but find it difficult to track team performance
                    against an accurate project baseline.We created Baseliner.ai to measure and track team performance
                    with an accurate baseline across your project portfolio.Baseliner.ai combines Generative-AI and
                    3-point estimation to establish an accurate project baseline to track team performance to task
                    estimates.
                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Baseliner.ai tracks team performance with accurate project baselines powered by Clavrit’s Generative
                    AI expertise. Users can sync tasks from Jira or upload them via Excel, including descriptions and
                    labels for AI analysis.
                </p>
                <p class="light-400">
                    Using a 3-Point estimation technique and Generative AI, Baseliner.ai calculates risk and
                    uncertainty, giving early alerts when tasks need attention so teams can stay on track across their
                    entire project portfolio.
                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/baseliner.png" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    Radical transparency: Baseliner.ai allows stakeholders to visualize the impact of scope and time
                    project changes in real-time against budget performance. </p>
                <p class="light-400">
                    Tracking team performance: Baseliner.ai allows project managers to sync actual time spent and track
                    task estimates with easy visual graph representation to measure team productivity. </p>
                <p class="light-400">
                    Seamless integration: Baseliner.ai provides integration to Jira and Excel, ensuring tasks are kept
                    in sync with your team’s day-to-day task management and planning activities. </p>
            </div>

        </div>
    </div>
</section>
<section class="bg-white w-100 py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 2</h1>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Integrated AI experts into a leading IT firm</h4>
                <h5 class="h5 py-1 text-dark">Industry: IT consulting</h5>
                <h5 class="h5 py-1 text-dark">Service: AI development and deployment</h5>
                <h5 class="h5 py-1 text-dark">Objective: Partnership with a leading IT firm to extend their AI team for
                    quality project delivery</h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    We partnered with a leading IT services firm to extend their AI team by embedding AI engineers,
                    enabling them to develop and deploy machine learning, deep learning, generative ai models.
                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Clavrit’s team of experienced AI engineers and machine learning experts enhanced live projects with
                    swift, effective solutions. From NLP and Generative AI to predictive analytics and automation, our
                    experts delivered tailored AI solutions aligned with business goals while ensuring smooth
                    integration with existing teams, workflows, and tools to maximize productivity with minimal
                    disruption.
                </p>
                <p class="light-400">
                    From ideation and prototype development to deployment and ongoing optimization, Clavrit provided
                    full-cycle AI services to help businesses unlock real value from their AI investments.
                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    Quality Project Delivery: Seamless integration of AI experts led to faster project delivery with
                    high quality and innovation.

                </p>
                <p class="light-400">
                    Faster Time-to-Market: With our AI team extension, they accelerated product development and stayed
                    ahead of the competition.</p>
                <p class="light-400">
                    Cost Efficiency: Saved recruitment, training, and infrastructure costs while gaining immediate
                    access to our specialized AI experts.

                </p>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/ai-case2.jpg" width="100%" height="350px">
            </div>
        </div>
    </div>
</section>
<section class="bg-white w-100 py-3">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Case Study 3</h1>
</section>

<section class="bg-light w-100 pb-5">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h4 class="h4 py-1 text-primary">Optimizing processes through AI </h4>
                <h5 class="h5 py-1 text-dark">Industry: Healthcare</h5>
                <h5 class="h5 py-1 text-dark">Product: Solar energy-based Oxygen Generation </h5>
                <h5 class="h5 py-1 text-dark">Objective: Create AI Dashboards for optimization, preventive maintenance
                    and sustainability </h5>
                <h5 class="h5 py-2 text-dark">Overview</h5>
                <p class="light-400">
                    The customer provides integrated, solar-powered oxygen plants that ensure a reliable and
                    eco-friendly medical oxygen supply. They partner with hospitals and home care agencies to deliver
                    consistent oxygen access, even in remote areas with limited healthcare infrastructure. These plants
                    support all hospital wards, from neonatal to emergency, meeting the critical need for uninterrupted
                    oxygen delivery.

                </p>
                <h5 class="h5 py-2 text-dark">Solution</h5>
                <p class="light-400">
                    Clavrit partners with the customer to drive digital transformation and streamline the entire
                    process, from onboarding facilities and managing inventory to scheduling deliveries. By eliminating
                    inefficiencies and optimizing the flow of medical oxygen, we help ensure that no patient is left
                    waiting when it matters most.
                </p>
                <p class="light-400">
                    We have implemented user-friendly software and digital platforms that enable healthcare facilities
                    to easily register patients, track oxygen levels, schedule refills, and coordinate deliveries,
                    ensuring a smooth and error-free supply chain. Clavrit’s optimization, preventive maintenance, and
                    sustainability dashboards provide real-time insights on availability, logistics, pre-orders, and key
                    sustainability metrics like solar energy generation and carbon offset, helping the customer
                    demonstrate their positive impact and meet social and environmental commitments.
                </p>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="./assets/img/ai-case3.jpg" width="100%" height="350px">
            </div>
            <div class="col-lg-6 text-start">

                <h4 class="h4 text-primary py-1">Results</h4>
                <p class="light-400">
                    Inventory Tracking: Real-time tracking of generated oxygen and optimized production based on demand.
                    Visualize patient cases and diagnosis summary. </p>
                <p class="light-400">
                    Preventive Maintenance: Accurate forecasts of equipment’s maintenance. To prevent failures and
                    reduce operation costs. Visualizes equipment’s run-time, previous maintenance summary and possible
                    scenarios causing failure.</p>
                <p class="light-400">
                    Impact Analytics: This sustainability dashboard visualizes insights between solar and an electricity
                    powered plant on relative cost savings, efficiency improvements and better customer experience.</p>
            </div>

        </div>
    </div>
</section>