<div id="service_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">{{service.title}}</h1>
            <h3 class="h4 pb-2 regular-400 mb-5">{{service.description}}</h3>
            
            <button type="submit" class="btn rounded-pill btn-outline-light px-4 me-4 light-300" routerLink="/portfolio">Learn More</button>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300" routerLink="/contact">Contact Us</button>
        </div>
    </div>
</div>
<section class="container py-5">
    
    <div class="row projects gx-lg-5 d-flex">

        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5" *ngFor="let service of ourServices">
            <a (click)="readMore(service)" class="text-decoration-none">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100">
                    <img class="card-img-top" [src]="service.img" alt="..." width="100%" height="250px">

                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-300 text-dark">{{ service.title }}</h5>
                        <p class="card-text light-300 text-dark" [title]="service.description">
                            {{ service.description | slice:0:80 }}...
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
       
    </div>
     <div class="col-md-2">
        <button (click)="onBack()" class="btn btn-primary w-100 rounded-pill px-md-4 py-2 text-light">Go Back</button>
        </div>
</section>