<div id="career_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Career</h1>
            <h3 class="h4 pb-2 regular-800">Your Role Will Be Pivotal !!</h3>
            <p class="banner-body pb-2 light-300">

                Shape the future of technology with Clavrit — where your ideas, skills, and growth thrive.
                Join a team that’s transforming businesses and communities worldwide.

            </p>
            <button type="submit" class="btn rounded-pill btn-outline-light px-4 me-4 light-300">Learn More</button>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Contact Us</button>
        </div>
    </div>
</div>

<section class="pt-5">
    <div class="container">
        <div class="recent-work-header row text-center">
            <h2 class="col-md-6 m-auto h2 semi-bold-600">Find Your Perfect Fit</h2>
        </div>
        <div class="row justify-content-center">

            <div class="scroll-container">
                <div class="filter-btns shadow-md rounded-pill text-center col-auto">
                    <div class="d-flex flex-wrap justify-content-center gap-3 m-5">
                        <div class="dropdown">
                            <button class="btn btn-outline-primary rounded-pill dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All Job Category
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"> All Job Category</a></li>
                                <li><a class="dropdown-item" href="#">.Net Developer</a></li>
                                <li><a class="dropdown-item" href="#">Java Developer</a></li>
                                <li><a class="dropdown-item" href="#">QA Engineer</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-outline-primary rounded-pill dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All Job Type
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">All Job Type</a></li>
                                <li><a class="dropdown-item" href="#">Full Time</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-outline-primary rounded-pill dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All Job Location
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">All Job Location</a></li>
                                <li><a class="dropdown-item" href="#">Gurgaon</a></li>
                                <li><a class="dropdown-item" href="#">Remote</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row projects gx-lg-5">

            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Sr.Java Developer</h5>
                        <p class="card-text light-400 text-dark">
                            Java Developer <br>
                            Remote
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Web Developer – .NET</h5>
                        <p class="card-text light-400 text-dark">
                            .Net Developer <br>
                            Remote
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Automation QA Engineer</h5>
                        <p class="card-text light-400 text-dark">
                            QA Engineer <br>
                            Remote
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Business Development Manager</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Senior QA</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">ML Engineer</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Hybris Developer</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Full Stack Developer</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">

                    <div class="card-body">
                        <h5 class="card-title light-600 text-dark mb-4">Angular Developer</h5>
                        <p class="card-text light-400 text-dark">
                            Gurgaon
                        </p>

                        <a href="/detail-view" class="card-read-more">
                            <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary">Haven’t found the right vacancy?</h1>
    <p class="col-12 col-xl-12 text-center text-muted pb-5 light-300">
        No problem. Send us your details anyway and we’ll figure something out!
    </p>
    <div class="col-lg-12">
        <form class="career-form row" method="post" action="#" role="form">

            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname"
                        placeholder="Name">
                    <label for="floatingname light-300">Full Name</label>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingemail"
                        name="inputemail" placeholder="Email">
                    <label for="floatingemail light-300">Email</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingphone"
                        name="inputphone" placeholder="Phone">
                    <label for="floatingphone light-300">Phone</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select</option>
                        <option value="1">Java Developer</option>
                        <option value="2">Angular Developer</option>
                        <option value="3">Hybris Developer</option>
                    </select>
                    <label for="floatingrole light-300">Job Applied for</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select</option>
                        <option value="1">Graduation</option>
                        <option value="2">Post Graduation</option>
                        <option value="3">Others</option>
                    </select>
                    <label for="floatingqual light-300">Qualification</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingcompany"
                        name="inputcompany" placeholder="Company Name">
                    <label for="floatingcompany light-300">Total YOE</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingcompany"
                        name="inputcompany" placeholder="Company Name">
                    <label for="floatingcompany light-300">Relevant Experience</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingcompany"
                        name="inputcompany" placeholder="Company Name">
                    <label for="floatingcompany light-300">Current Company</label>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg light-300" id="floatingcompany"
                        name="inputcompany" placeholder="Company Name">
                    <label for="floatingcompany light-300">Current CTC</label>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select</option>
                        <option value="1">Immediate</option>
                        <option value="2">Less than 30 days</option>
                        <option value="3">1 - 2 Months</option>
                    </select>
                    <label for="floatingjob light-300">Notice Period</label>
                </div>
            </div>
            <div class="col-md-12 col-12 m-auto text-end">
                <button type="submit"
                    class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Submit</button>
            </div>

        </form>
    </div>
</section>
<section class="bg-secondary py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center text-white">
            <h2 class="col-md-6 m-auto h2 semi-bold-600">Perks and Benefits!!!</h2>
            <p class="col-12 text-white pb-5 light-300 pt-3">
                Clavrit offers benefits in order to encourage a culture of joy & self-accomplishment by catering to
                individual needs with respect to flexibility, career enhancement and an enriched personal life. Our goal
                is to make Clavrit an employee-friendly company, and we strive hard to maintain transparency, diversity,
                and equal opportunities for everyone.
            </p>
        </div>


        <div class="row projects gx-lg-5">
            <div class="col-sm-6 col-lg-4 project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">
                    <img src="./assets/img/service1.jpg" class="card-img-top" alt="..." height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Flexible Work Hours</h5>
                        <p class="card-text light-300 h-100 text-dark d-flex align-items-center">
                            At Clavrit, we value productivity and believe it thrives with a balanced personal life.
                            We offer flexibility in work hours to help employees meet family commitments.
                            This ensures an enriched balance between work and life for everyone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Culture</h5>
                        <p class="card-text light-300 h-100 text-dark d-flex align-items-center">
                            At Clavrit, we ensure everyone can embrace their unique identity and cultural experiences.
                            We foster an environment where people can truly be themselves.
                            This helps them thrive both professionally and personally.

                        </p>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Work Life Balance</h5>
                        <p class="card-text light-300 h-100 text-dark d-flex align-items-center">
                            Our employees enjoy a perfect work-life balance at Clavrit, we offer perks like birthday
                            leaves, time off from work etc encouraging employees to relax & rejuvinate.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Equal Opportunities</h5>
                        <p class="card-text light-300 h-100 text-dark d-flex align-items-center">
                            Clavrit is an equal opportunity employer that welcomes talent from all backgrounds without
                            discrimination.
                            We value freedom of thought, transparent communication, and diversity.
                            Our people enjoy ample opportunities to grow and advance their careers.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Stimulating Work Environment</h5>
                        <p class="card-text light-300 h-100 text-dark d-flex align-items-center">
                            At Clavrit, you’ll have opportunities to sharpen your skills across diverse specializations.
                            Our variety of work and experiences provide a strong platform for career growth.
                            We foster a welcoming environment where new ideas and exploration are encouraged.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social mb-5">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Career Progression</h5>
                        <p class="card-text light-300 text-dark">
                            At Clavrit, we aim for uncompromised perfection through creativity and constant improvement.
                            We prioritize keeping our teams updated with the latest technology and trends.
                            Regular training and seminars help our people learn and grow in their domains.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">We Care</h5>
                        <p class="card-text light-300 text-dark ">
                            At Clavrit, our employees enjoy comprehensive health benefits and group insurance for peace
                            of mind.
                            We offer financial support when needed and regularly give back to local NGOs.
                            We also empower employees’ families through vocational training and skill development.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">


                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Remote Work</h5>
                        <p class="card-text light-300 text-dark">
                            At Clavrit, we offer diverse work options — onsite, hybrid, and remote.
                            We stand out for providing Work From Anywhere (WFA) all year round, even post-COVID.
                            This flexibility lets you choose how and where you work best.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5 h-100 benefits-card">

                    <img class="card-img-top" src="./assets/img/sapcx.jpg" alt="..." width="100%" height="150px">
                    <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                        <h5 class="card-title light-600 text-dark">Acclaim & Accolades</h5>
                        <p class="card-text light-300 text-dark">
                            At Clavrit, we know appreciation boosts self-confidence and drives top performance.
                            We make it a priority to recognize and reward employees who go above and beyond.
                            From incentives to awards, we ensure our people feel valued for their contributions.

                        </p>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-12 col-xl-12 text-center">
            <h5 class="text-white h5">We are excited to discover the unique skills and
                perspectives that you can bring to Clavrit!</h5>
        </div>
    </div>
</section>