<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active h-100">

                    <div class="py-5 row d-flex align-items-center h-100">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5 h-100">
                            <h2
                                class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Empowering <strong>Innovation</strong> through Global IT Solutions
                            </h2>
                            <p class="banner-body text-muted py-1 mx-0 px-0">
                                Clavrit is a global IT powerhouse helping businesses grow through innovation, delivering
                                AI, Machine Learning, SAP Solutions, and Salesforce Consulting Services across
                                industries.
                            </p>

                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h2 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                Your One-Stop Global Partner for End-to-End IT Solutions
                            </h2>
                            <p class="banner-body text-muted py-3">
                                Emphasizes the breadth of services from Salesforce to Mobile apps, maintenance, and
                                remote resources.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                                role="button" routerLink="/portfolio">Get Started</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h2 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                Driving Growth with Smart Tech & Service
                            </h2>
                            <p class="banner-body text-muted py-3">
                                Clavrit blends cutting-edge tech with a client-first approach to drive real business
                                results.
                                From strategy to support, we deliver innovation with accountability.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="prev">
                <i class="bx bx-chevron-left"></i>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="next">
                <i class='bx bx-chevron-right'></i>
                <span class="visually-hidden">Next</span>
            </a>
        </div>


    </div>
</div>
<section class="why-us banner-bg bg-light">
    <div class="container my-4">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Why Clavrit ?</h2>
                <p class="text-muted pb-0 light-300">
                    Explore why Clavrit stands out as the premier choice for unlocking your full potential and achieving
                    your
                    goals. Discover how our innovative approach empowers individuals and organizations to surpass
                    limitations
                    and reach new heights of success.
            </div>
        </div>
    </div>
</section>
<section class="service-wrapper py-3">
    <!-- <div class="container-fluid">
        <div class="row">
            <h2 class="h2 text-center col-12 py-3 semi-bold-600">Why Clavrit ?</h2>
        </div>
        <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-center text-muted px-2">
            Explore why Clavrit stands out as the premier choice for unlocking your full potential and achieving your
            goals. Discover how our innovative approach empowers individuals and organizations to surpass limitations
            and reach new heights of success.
        </p>
    </div> -->
    <div class="container-fluid pb-3">
        <div class="row">
            <h2 class="h2 text-center col-12 py-3 semi-bold-600">Our Expertise</h2>
            <div class="service-header col-2 col-lg-3 text-end light-300">
                <i class='bx bx-gift h3 mt-1'></i>
            </div>
            <div class="service-heading col-10 col-lg-9 text-start float-end light-300">
                <h2 class="h3 pb-4 typo-space-line">Make Success for future</h2>
            </div>
        </div>
        <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 text-muted px-2">
            Clavrit offers SAP and Salesforce managed services to streamline your daily IT operations.
            We help reduce costs on staffing, training, and infrastructure while boosting efficiency.
            Our in-house solutions let you focus on your core business — securely and affordably.
        </p>
    </div>

    <div class="service-tag py-3 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300"
                        data-filter=".project">All</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".ui">
                        UI/UX</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".dev">
                        Full-Cycle Development</a>
                </li>

                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".hybris">SAP / Hybris</a>
                </li>

                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".ai">Artificial
                        Intelligence</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".cloud">Marketing & Cloud Services</a>
                </li>

            </ul>
        </div>
    </div>

</section>

<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">


        <div class="col-xl-3 col-md-4 col-sm-6 project ui">
            <div class="service-work card border-0 text-dark shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/ui_ux.png" height="240px" alt="UI/UX Design">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">UI/UX Design</span>
                        <p class="card-text mt-3">Crafting seamless, intuitive, and engaging user experiences.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6 project dev">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/Development.png" height="240px"
                    alt="Full-Stack Java Development">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <!-- <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300 text-dark"
                            >Development</span> -->
                            <span class="mb-lg-3 light-300 card-text h4">Development</span>
                        <p class="card-text mt-3">End-to-end Java development for modern, scalable solutions.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project sap hybris">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/SAP.png" height="240px" alt="SAP/Hybris">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">SAP / Hybris</span>
                        <p class="card-text mt-3">Streamlining enterprise operations with powerful SAP solutions.</p>
                    </div>
                </div>
            </a>
        </div>


        <!-- <div class="col-xl-3 col-md-4 col-sm-6 project angular">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/angular.png" height="240px" alt="Angular Development">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"
                            routerLink="/portfolio">Angular
                            Development</span>
                        <p class="card-text">Building dynamic web apps with high-performance Angular frameworks.</p>
                    </div>
                </div>
            </a>
        </div> -->


        <div class="col-xl-3 col-md-4 col-sm-6 project ai">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/AI_image.jpg" height="240px" alt="Artificial Intelligence">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Artificial
                            Intelligence</span>
                        <p class="card-text mt-3">Empowering businesses with intelligent automation and insights.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-3 col-md-4 col-sm-6 project  cloud marketing">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/digital.jpg" height="240px" alt="Marketing">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Digital
                            Marketing</span>
                        <p class="card-text mt-3">Boosting brand visibility and engagement with smart strategies.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-3 col-md-4 col-sm-6 project cloud">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/Cloud.png" height="240px" alt="Cloud Services">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Cloud Services</span>
                        <p class="card-text mt-3">Secure, scalable cloud solutions for modern business agility.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project cloud">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/data-analysis.jpeg" height="240px" alt="Cloud Services">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Data Analyst</span>
                        <p class="card-text mt-3">Delivering secure, scalable cloud solutions for modern business agility.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</section>

<section class="bg-secondary">
    <div class="container py-3">
        <div class="row d-flex justify-content-center text-center">
            

            <div class="col-lg-9 col-12 text-light pt-2">
                <h3 class="h4 light-300">Driving Digital Transformation, Delivering Success</h3>
                <p class="light-300">Empowering business evolution through smart technology</p>
            </div>

            <div class="col-lg-3 col-12 pt-4">
                <a class="btn btn-primary rounded-pill btn-block shadow px-4 py-2" routerLink="/portfolio">View Our
                    Work</a>
            </div>
        </div>
    </div>
</section>

<section class="py-3 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-3">Recent Works</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-2">


            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/motolens.png" height="300px"
                        alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Motolens AI</h3>
                            <p class="card-text">Detect and report vehicle-related violence using AI.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/baseliner.jpeg" height="300px"
                        alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Baseliner AI</h3>
                            <p class="card-text">Estimate and plan project tasks intelligently with AI.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/mitre101.jpg" height="300px"
                        alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Mitre10</h3>
                            <p class="card-text">New Zealand’s trusted e-commerce store for all your needs.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/property.jpg" height="300px"
                        alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Property APP</h3>
                            <p class="card-text">Manage property deals easily for users, agents, and admins.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/case3.jpg" height="300px" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Oxiflow</h3>
                            <p class="card-text">Optimize and monitor oxygen flow efficiently with AI.</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mb-3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="./assets/img/Ai-agent.png" height="300px"
                        alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">AI Agent</h3>
                            <p class="card-text">Build projects faster and smarter with AI assistance.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>