<section id="video_banner" class="w-100 py-5">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-center">
                <video autoplay muted loop playsinline preload="auto" #myVideo>
                    <source src="../../assets/img/vhomenew.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</section>


<!-- <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">
        


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1
                                class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Develop <strong>Strategies</strong> for
                                <br>your business
                            </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                Clavrit is a global IT powerhouse helping businesses grow through innovation, delivering
                                AI, Machine Learning, SAP Solutions, and Salesforce Consulting Services across
                                industries.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                                role="button">Get Started</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1
                                class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Develop <strong>Strategies</strong> for
                                <br>your business
                            </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                Clavrit is a global IT powerhouse helping businesses grow through innovation, delivering
                                AI, Machine Learning, SAP Solutions, and Salesforce Consulting Services across
                                industries.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1
                                class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Develop <strong>Strategies</strong> for
                                <br>your business
                            </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                Clavrit is a global IT powerhouse helping businesses grow through innovation, delivering
                                AI, Machine Learning, SAP Solutions, and Salesforce Consulting Services across
                                industries.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                                role="button">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="prev">
                <i class="bx bx-chevron-left"></i>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="next">
                <i class='bx bx-chevron-right'></i>
                <span class="visually-hidden">Next</span>
            </a>
        </div>


    </div> -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-12 text-center">
                <h1 class="h2 py-5 text-primary typo-space-line-center">A global IT firm empowering businesses to
                    flourish and lead the way in
                    innovation</h1>
                <p class="light-300">
                    Clavrit offers a global powerhouse of IT solutions and services, acting as your one-stop shop for
                    technological transformation. We’re renowned for delivering state-of-the-art solutions across the
                    spectrum, from cutting-edge AI and Machine Learning to established powerhouses like SAP Solutions
                    and Salesforce Consulting Services. Our expertise extends far beyond these domains, encompassing Web
                    & Mobile application development, Robotics, Custom Software Development, Maintenance & AMC, Software
                    Testing Services, Multi-vendor Marketplace solutions, Dedicated IT Remote resources, and insightful
                    IT Consulting. Clavrit’s SAP projects have garnered international acclaim, solidifying our place as
                    a trusted leader. Our services, encompassing IT Consulting, AI and Machine Learning, Global IT
                    Services, Salesforce Consulting Services, and SAP Solutions, are designed to enhance accuracy,
                    decision-making, customer engagement, and overall organizational performance. Clavrit is synonymous
                    with exceptional post-project services. We prioritize client-centricity, ensuring responsive
                    communication, timely issue resolution, and a user-friendly interface. Providing top-notch IT
                    services at budget-friendly pricing is a cornerstone of our philosophy. Staying at the forefront of
                    technology and continuously evolving with the latest cutting-edge solutions sets Clavrit apart from
                    the competition. Partner with us and unlock the full potential of your business.</p>
            </div>
        </div>
    </div>
</section>
<section class="why-us banner-bg bg-light">
    <div class="container">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Why Clavrit ?</h2>
                <p class=" pb-0 light-300">
                    Explore why Clavrit stands out as the premier choice for unlocking your full potential and achieving
                    your
                    goals. Discover how our innovative approach empowers individuals and organizations to surpass
                    limitations
                    and reach new heights of success.
            </div>
        </div>
    </div>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-3 text-primary">Tech Support</h1>
                <p class="light-300">
                    Our Stellar team of developers provide personalized, uncompromised & unmatched tech services to
                    clients globally. We know your SAP, AI & ML products well and can assist you in maintaining,
                    upgrading and customizing them. Our team works closely with the clients to know their specific needs
                    & queries and provides assistance for the same in real-time! Our team stays updated with the latest
                    developments in the industry. They periodically undergo training sessions to sharpen their skills
                    and stay ahead of the emerging technologies. </p>
                <p class="light-300">
                    Our team possess years of hands-on experience and expertise in various complex technologies,
                    enabling them to give clients the best-in-class support and guidance globally. Be it hardware,
                    software, networking, security or troubleshooting, our team masters it all! </p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/techSupport.jpg" width="100%" height="400px">
            </div>
        </div>
    </div>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">

            <div class="col-lg-6 mt-4">
                <img src="./assets/img/busiCons.jpg" width="100%" height="400px">
            </div>
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-3 text-primary">Business Consulting</h1>
                <p class="light-300">
                    With vast experience in SAP, Artificial intelligence and Machine Learning projects, Clavrit is the
                    right choice when it comes to business consulting & guidance. We specialize in IT consulting, such
                    as SAP services, Salesforce solutions, Artificial Intelligence, technical Support and Project
                    management. We have in-house specialists who can provide targeted solutions to your specific
                    challenges and needs. Clavrit is known for being at the forefront of technological innovation &
                    excellence. With our guidance and support, organizations can achieve their desired goals and
                    targets. Clavrit’s reputation and credibility may be bolstered by positive references and
                    testimonials from satisfied clientele.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-3 text-primary">Managed Services</h1>
                <p class="light-300">
                    Clavrit helps organizations in managing their day-to-day technical & monitoring activities, enabling
                    them to focus on their core work & priorities! Our services primarily comprise of SAP as well as
                    Salesforce managed services. </p>
                <p class="light-300">
                    By signing up with us, you can not only reduce your IT costs associated with hiring and training
                    staff but also save on the cost for procurement of hardware and software needed for managing those
                    services. Our services are specially designed to help organizations effectively manage their IT
                    systems and infrastructure, allowing them to focus on their goals without having to worry about the
                    complexities of IT management. Our In-house IT managed services offer organizations, a
                    budget-friendly and efficient way to manage their IT needs and enhance their IT security!</p>
            </div>
            <div class="col-lg-6 mt-4">
                <img src="./assets/img/techSupport.jpg" width="100%" height="400px">
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-3">
    <div class="container py-3">
        <h2 class="text-primary col-12 col-xl-12 h2 text-center typo-space-line-center py-5">Leading Global Enterprises
            Trust Us To Take Care of
            Their IT Ecosystems</h2>
        <p class="col-12 col-xl-12 text-center light-300">We are glad to assist some of the most credible organizations
            in the world. We take pride in offering solutions that provide genuine value to clients spread all over the
            globe. With our IT consultancy, expertise and exceptional service, we aim to exceed our client’s
            expectations and deliver the best results while keeping the costs under control! We have always believed in
            Client first Philosophy! We at Clavrit constantly strive to excel client experiences, based on their
            feedback and suggestions. Customer relations & satisfaction are the key factors we focus on.</p>
        <div id="carouselExampleIndicators" class="carousel slide bg-secondary" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slide of clientSlides; let i = index" [class.active]="i === 0"
                    [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let slide of clientSlides; let i = index" [class.active]="i === 0">
                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary w-100">
                            <div class="container h-100">
                                <div class="row text-center d-flex justify-content-center align-items-center">
                                    <div class="col-md-2 mb-3" *ngFor="let client of slide">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img [src]="client.logoImage" class="p-2" alt="Client Logo" width="100%"
                                                height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

<section class="container overflow-hidden py-3">
  <h2 class="text-center fw-bold mb-5">Delivering Measurable Results for Global Enterprises</h2>
  <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3">

    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="hover-card position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
        <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">sustainability</span>
        <h5 class="fw-semibold mt-2 mb-2">Enables eCommerce retailers to accurately calculate and reduce carbon emissions from logistics.</h5>
         <a routerLink="/sustainability" class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full Case Study →</a>
      </div>
    </div>
<div class="col-md-4">
      <div class="hover-card position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
        <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">Artificial Intelligence</span>
        <h5 class="fw-semibold mt-2 mb-2">Simplify agile team performance tracking with using the power of Generative AI.</h5>
         <a [routerLink]="['/ai']" 
  fragment="Estimate-your-next-Agile-Project-with-Generative-AI"  class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full Case Study →</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hover-card position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
        <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">Artificial Intelligence</span>
        <h5 class="fw-semibold mt-2 mb-2">Partnership with a leading IT firm to extend their AI team for quality project delivery.</h5>
        <a routerLink="/ai" class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full Case Study →</a>
      </div>
    </div>

  </div>
</section>


<section class="service-wrapper py-3">
    <!-- <div class="container-fluid">
        <div class="row">
            <h2 class="h2 text-center col-12 py-3 semi-bold-600">Why Clavrit ?</h2>
        </div>
        <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-center text-muted px-2">
            Explore why Clavrit stands out as the premier choice for unlocking your full potential and achieving your
            goals. Discover how our innovative approach empowers individuals and organizations to surpass limitations
            and reach new heights of success.
        </p>
    </div> -->
    <div class="container-fluid pb-3">
        <div class="row">
            <h2 class="h2 text-center col-12 py-3 semi-bold-600">Our Expertise</h2>
            <div class="service-header col-2 col-lg-3 text-end light-300">
                <i class='bx bx-gift h3 mt-1'></i>
            </div>
            <div class="service-heading col-10 col-lg-9 text-start float-end light-300">
                <h2 class="h3 pb-4 typo-space-line">Make Success for future</h2>
            </div>
        </div>
        <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 px-2 light-300">
            Clavrit offers SAP and Salesforce managed services to streamline your daily IT operations.
            We help reduce costs on staffing, training, and infrastructure while boosting efficiency.
            Our in-house solutions let you focus on your core business — securely and affordably.
        </p>
    </div>

    <!-- <div class="service-tag py-3 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300"
                        data-filter=".project">All</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".ui">
                        Retail,Commerce and<br> Master Data</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".dev">
                        Enterprise Application<br> Development</a>
                </li>

                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".hybris">AIML</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".mdev">MIddleWare Development</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".data">Data Analytics</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300"
                        data-filter=".offshore">Offshore Outsourcing</a>
                </li>

            </ul>
        </div>
    </div> -->

</section>

<section class="container overflow-hidden py-3">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 projects">


        <div class="col-xl-3 col-md-4 col-sm-6 project ui">
            <div class="service-work card border-0 text-dark shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/retail.png" height="240px" alt="UI/UX Design">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Retail,Commerce and Master Data</span>
                        <p class="card-text mt-3">Smarter retail with clean, connected data.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6 project dev">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/Development.png" height="240px"
                    alt="Full-Stack Java Development">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <!-- <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300 text-dark"
                            >Development</span> -->
                        <span class="mb-lg-3 light-300 card-text h4">Enterprise Application development</span>
                        <p class="card-text mt-3">Build powerful enterprise apps.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project sap hybris">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/AI_image.jpg" height="240px" alt="SAP/Hybris">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">AIML</span>
                        <p class="card-text mt-3">Automate with AI and machine learning.</p>
                    </div>
                </div>
            </a>
        </div>


        <!-- <div class="col-xl-3 col-md-4 col-sm-6 project angular">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/angular.png" height="240px" alt="Angular Development">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"
                            routerLink="/portfolio">Angular
                            Development</span>
                        <p class="card-text">Building dynamic web apps with high-performance Angular frameworks.</p>
                    </div>
                </div>
            </a>
        </div> -->


        <div class="col-xl-3 col-md-4 col-sm-6 project mdev">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/middleware.jpg" height="240px"
                    alt="Artificial Intelligence">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">MiddleWare Development</span>
                        <p class="card-text mt-3">Connect systems seamlessly with robust middleware.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-3 col-md-4 col-sm-6 project data">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/digital.jpg" height="240px" alt="Marketing">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Data Analytics</span>
                        <p class="card-text mt-3">Actionable insights from your data.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-3 col-md-4 col-sm-6 project offshore">
            <a class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="./assets/img/offshore.jpg" height="240px" alt="Cloud Services">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-dark">
                        <span class="mb-lg-3 light-300 card-text h4">Offshore Outsourcing</span>
                        <p class="card-text mt-3">Scale faster with offshore teams.</p>
                    </div>
                </div>
            </a>
        </div>



    </div>
</section>



<!-- <section class="py-3 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-3">Recent Works</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-2">


            <div class="col-md-4 mb-3" *ngFor="let item of projectList | recentBlog:3">
                <a class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" [src]="item.imageUrl" height="300px" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">{{item.title}}</h3>
                            <p class="card-text">{{item.summary| slice:0:20 }}...</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section> -->


<!-- <section class="bg-secondary py-3">
    <div class="container py-2">
        <h2 class="h2 text-white col-12 col-xl-12 h2 text-center">Tools & Technology
        </h2>
        <div id="carouselExampleIndicatorst1" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicatorst1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicatorst1" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary">
                            <div class="container">

                                <div class="row text-center">
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol1.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol2.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol3.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol4.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol51.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol61.jpg" class="p-2">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary">
                            <div class="container">

                               <div class="row text-center">
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol1.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol2.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol3.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol4.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol51.jpg" class="p-2">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img src="../../assets/img/techcol61.jpg" class="p-2">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
                
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicatorst1" role="button"
                data-bs-slide="prev">

                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicatorst1" role="button"
                data-bs-slide="next">

                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</section> -->

<!-- <section class="bg-white py-5">
    <div class="container">
        <div class="recent-work-header row text-center text-primary">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 typo-space-line-center">Clavrit's Business Stats</h2>
            <p class="col-12 text-white pb-5 light-300 pt-3">
                We believe in Numbers
            </p>
        </div>

    </div>
</section> -->


<section class="bg-white py-3">
    <div class="container py-3">
        <h2 class="text-primary col-12 col-xl-12 h2 text-center typo-space-line-center py-5">Tools & Technology</h2>
        <div id="carouselExampleIndicators1" class="carousel slide bg-secondary" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slide of techSlides; let i = index" [class.active]="i === 0"
                    [attr.data-bs-target]="'#carouselExampleIndicators1'" [attr.data-bs-slide-to]="i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let slide of techSlides; let i = index" [class.active]="i === 0">
                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary w-100">
                            <div class="container h-100">
                                <div class="row text-center d-flex justify-content-center align-items-center">
                                    <div class="col-md-2 mb-3" *ngFor="let tech of slide">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img [src]="tech.imageUrl" class="p-2" alt="Client Logo" width="100%"
                                                height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>



<section class="bg-white">
    <div class="container align-items-center col-lg-12 text-center pb-5">
        <h1 class="h2 py-5 text-primary typo-space-line-center">Clavrit's Business Stats</h1>
        <p class="light-300">We believe in Numbers</p>

        <div class="stats-container container py-3">
            <div class="stat-card" *ngFor="let stat of stats; let i = index" #statBox>
                <div class="stat-icon">
                    <img [src]="stat.iconUrl" alt="stat-icon" width="30px" height="30px"/>
                </div>
                <div class="stat-number ">
                    {{ animatedValues[i] | number:'1.0-0' }}
                    <!-- {{stat.value}} -->
                    <span *ngIf="stat.title === 'Years Of Experience' || stat.title === 'Team Members'">+</span>
                </div>
                <div class="stat-label">{{ stat.title }}</div>
            </div>
        </div>
    </div>
</section>