<div id="home_banner" class="banner-wrapper bg-light w-100 py-5">
    <video autoplay muted loop playsinline preload="auto" poster="../../assets/img/poster.JPG" #myVideo>
        <source src="../../assets/img/vhomenew.mp4" type="video/mp4" />
    </video>

    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-10 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h1 display-3 pb-5 semi-bold-600 typo-space-line-center">Transform Your Business
                with <strong class="text-primary"> Enterprise-Grade </strong> SAP, Salesforce & AI Solutions</h1>
            <h4 class="h4 pb-2 regular-400">Trusted by global leaders to deliver innovative IT solutions that drive
                measurable business outcomes across 26 countries.</h4>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300"
                routerLink="/contact">Schedule a Consultation</button>
        </div>
    </div>
</div>

<!-- <section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-3">
            <div class="col-lg-12 text-center">
                <h1 class="h2 py-5 text-primary typo-space-line-center">A global IT firm empowering businesses to
                    flourish and lead the way in
                    innovation</h1>
            </div>
        </div>
    </div>
</section> -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Enterprise Solutions Tailored to Your Business
                    Challenges</h1>
                <p class="light-300">
                    At Clavrit, we understand that technology should solve real business problems, not create new ones.
                    Our integrated approach combines deep expertise in SAP, Salesforce, and AI with a relentless focus
                    on your specific business objectives. The result? Customized solutions that deliver measurable ROI
                    and position your organization for sustainable growth. </p>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 text-decoration-none">

                        <div class="service-work sap-solutions overflow-hidden card mx-sm-0 mb-3">
                            <a routerLink="/services" class="card-read-more">

                                <div class="card-body">
                                    <h5 class="card-title light-600 text-light mb-4">SAP Solutions</h5>
                                    <p class="card-text light-400 text-light">
                                        End-to-end implementation & optimization
                                    </p>

                                </div>
                            </a>
                        </div>

                    </div>
                    <div *ngFor="let item of ourServices"
                        class="col-sm-6 col-lg-6 text-decoration-none">
                        <div class="service-work overflow-hidden card mx-sm-0 mb-3" [ngStyle]="{ 'background-image': 'url(' + item.img + ')' }">
                            <a (click)="readMore(item)" class="card-read-more">
                                <div class="card-body">
                                    <h5 class="card-title light-600 text-light mb-4">{{item.titlehome}}</h5>
                                    <p class="card-text light-400 text-light">
                                        {{item.subhome}}
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 text-decoration-none">
                        <div class="service-work all-services overflow-hidden card mx-sm-0 mb-3">
                            <a routerLink="/services" class="card-read-more">
                                <div class="card-body">
                                    <h5 class="card-title light-600 text-light mb-4">Custom Development</h5>
                                    <p class="card-text light-400 text-light">
                                        Tailored enterprise applications
                                    </p>

                                    <!-- <a routerLink="/services" class="card-read-more">
                                    <span class="text-decoration-none text-primary light-300">
                                        Read more <i class='bx bxs-hand-right ms-1'></i>
                                    </span>
                                </a> -->
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-end">
                    <a routerLink="/services" class="card-read-more">
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="overflow-hidden bg-white">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="h2 py-5 text-primary typo-space-line-center">Why Leading Enterprises Trust Clavrit</h2>

            <div class="marquee-wrapper">
                <div class="marquee-track d-flex">
                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">📈 Personalized Tech Support</h5>
                            <p class="card-text">Expert help for SAP, AI & ML — upgrades, fixes, and custom needs</p>
                        </div>
                    </div>

                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">⚡ IT & Business Consulting</h5>
                            <p class="card-text">Smart solutions in SAP, AI, Salesforce & more</p>
                        </div>
                    </div>

                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">✔️ Managed IT Services</h5>
                            <p class="card-text">End-to-end support to cut costs & boost focus</p>
                        </div>
                    </div>

                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">🌐 Global Tech Expertise</h5>
                            <p class="card-text">Trained pros for hardware, software, and security.</p>
                        </div>
                    </div>
                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">✔️ End-to-End Implementation & Support</h5>
                            <p class="card-text">From strategy to deployment and beyond</p>
                        </div>
                    </div>
                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">📈 Proven Track Record of Success</h5>
                            <p class="card-text">100+ successful projects, 95% client retention</p>
                        </div>
                    </div>
                    <div class="card mx-2 shadow-sm p-3 why-clavrit-card">
                        <div class="card-body">
                            <h5 class="card-title">✔️ Budget-Friendly Enterprise Solutions</h5>
                            <p class="card-text">Maximum ROI with cost-effective implementations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-3">
    <div class="container">
        <h2 class="text-primary col-12 col-xl-12 h2 text-center typo-space-line-center py-5">Trusted by Leading
            Enterprises</h2>
        <div id="carouselExampleIndicators" class="carousel slide bg-secondary" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slide of clientSlides; let i = index" [class.active]="i === 0"
                    [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let slide of clientSlides; let i = index" [class.active]="i === 0">
                    <div class="py-5 row d-flex align-items-center">
                        <section class="bg-secondary w-100">
                            <!-- <div class="container h-100">
                                <div class="row text-center d-flex justify-content-center align-items-center">
                                    <div class="col-md-2 mb-3" *ngFor="let client of slide">
                                        <div class="card partner-wap py-3 bg-light">
                                            <img [src]="client.logoImage" class="p-3" alt="Client Logo" width="100%"
                                                height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="container h-100">
                                <div class="row text-center justify-content-center align-items-center">
                                    <div class="col-md-2 mb-3" *ngFor="let client of slide">
                                        <div class="card partner-wap py-3 bg-white">
                                            <img [src]="client.logoImage" alt="Client Logo" class="img-fluid p-1"
                                                style="height: 60px; object-fit: contain; width: 100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

<section class="bg-light overflow-hidden py-3">
    <div class="container">
        <h2 class="text-primary col-12 col-xl-12 h2 text-center typo-space-line-center py-5">Delivering Measurable
            Results
            for Global Enterprises</h2>
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3">

            <div class="col-md-4">
                <div class="hover-card case-1 position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
                    <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">sustainability</span>
                    <h5 class="mt-2 light-300 mb-2">Enables eCommerce retailers to accurately calculate and reduce
                        carbon
                        emissions from logistics.</h5>
                    <a [routerLink]="['/sustainability'] "
                        fragment="Reducing-Carbon-Footprint-in-eCommerce-Logistics-with-the-Carbon-Footprint-Calculator"
                        [queryParams]="{ section: 'Reducing-Carbon-Footprint-in-eCommerce-Logistics-with-the-Carbon-Footprint-Calculator' }"
                        class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full Case Study
                        →</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-card case-2 position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
                    <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">Artificial Intelligence</span>
                    <h5 class="mt-2 light-300 mb-2">Simplify agile team performance tracking with using the power of
                        Generative AI.</h5>
                    <a [routerLink]="['/ai']"
                        [queryParams]="{ section: 'Estimate-your-next-Agile-Project-with-Generative-AI' }"
                        class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full Case Study
                        →</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-card case-3 position-relative border rounded-4 p-4 shadow-sm h-100 bg-white">
                    <span class="badge bg-light text-dark mb-3 px-3 py-2 rounded-pill">Artificial Intelligence</span>
                    <h5 class=" mt-2 mb-2 light-300 pb-4">Partnership with a leading IT
                        firm to extend their AI team for quality
                        project delivery.</h5>
                    <a [routerLink]="['/ai']"
                        [queryParams]="{ section: 'Integrated-AI-experts-into-a-leading-IT-firm' }"
                        class="text-primary fw-semibold d-inline-block mt-3 text-decoration-none ">Read Full
                        Case Study →</a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="container overflow-hidden py-3">
    <div class="text-center mb-4">
        <h2 class="text-primary col-12 col-xl-12 h2 text-center typo-space-line-center py-5">Comprehensive IT Expertise
            for Enterprise Success</h2>
        <p class="mt-3 light-300">
            From SAP implementation to AI-driven analytics, our comprehensive expertise enables us to<br />
            address complex business challenges with precision and innovation.
        </p>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" (click)="setTab('enterprise')"> Enterprise
                Platforms</button>
            <button type="button" class="btn btn-outline-primary" (click)="setTab('development')">Development
                Tools</button>
            <button type="button" class="btn btn-outline-primary" (click)="setTab('ai')">Analytics & AI</button>
        </div>

    </div>

    <div class="p-4 rounded-4 border bg-light shadow-sm">
        <div class="row text-center justify-content-center">
            <ng-container *ngIf="activeTab === 'enterprise'">
                <div class="custom-col" *ngFor="let tech of enterprisePlatforms">
                    <div class="bg-white p-4 rounded shadow-sm h-100">
                        <div class="bg-light rounded-3 p-2 mx-auto" style="width: 60px;">
                            <!-- <i class="bi bi-code-slash fs-4"></i> -->
                            <img [src]="tech.image" width="40px" height="30x">
                        </div>
                        <div class="mt-3 fw-semibold">{{ tech.name }}</div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="activeTab === 'development'">
                <div class="custom-col" *ngFor="let tool of developmentTools">
                    <div class="bg-white p-4 rounded shadow-sm h-100">
                        <div class="bg-light rounded-3 p-2 mx-auto" style="width: 60px;">
                            <img [src]="tool.image" width="40px" height="30x">
                        </div>
                        <div class="mt-3 fw-semibold">{{ tool.name }}</div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="activeTab === 'ai'">
                <div class="custom-col" *ngFor="let ai of aiTools">
                    <div class="bg-white p-4 rounded shadow-sm h-100">
                        <div class="bg-light rounded-3 p-2 mx-auto" style="width: 60px;">
                            <img [src]="ai.image" width="40px" height="30x">
                        </div>
                        <div class="mt-3 fw-semibold">{{ ai.name }}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<!-- <section class="bg-white py-5">
    <div class="container">
        <div class="recent-work-header row text-center text-primary">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 typo-space-line-center">Clavrit's Business Stats</h2>
            <p class="col-12 text-white pb-5 light-300 pt-3">
                We believe in Numbers
            </p>
        </div>

    </div>
</section> -->

<section class="bg-light">
    <div class="container align-items-center col-lg-12 text-center pb-5">
        <h1 class="h2 py-5 text-primary typo-space-line-center">Clavrit's Business Stats</h1>
        <p class="light-300">We believe in Numbers</p>

        <div class="stats-container container py-3">
            <div class="stat-card" *ngFor="let stat of stats; let i = index" #statBox>
                <div class="stat-icon">
                    <img [src]="stat.iconUrl" alt="stat-icon" width="30px" height="30px" />
                </div>
                <div class="stat-number ">
                    {{ animatedValues[i] | number:'1.0-0' }}
                    <!-- {{stat.value}} -->
                    <span *ngIf="stat.title === 'Years Of Experience' || stat.title === 'Team Members'">+</span>
                </div>
                <div class="stat-label">{{ stat.title }}</div>
            </div>
        </div>
    </div>
</section>