.service-work {
  cursor: default;
}

.filter-btn{
  cursor: pointer;
}

#index_banner::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 13, 0.8); 
  z-index: 1;
}
.service-work-content span{
  cursor: default;
}








.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.stat-card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 30px 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  flex: 1 1 180px;
}

.stat-icon {
  font-size: 40px;
  color: #00AEEF;
  margin-bottom: 15px;
}

.stat-number {
  font-size: 42px;
  font-weight: bold;
}

.stat-label {
  font-size: 16px;
  font-weight: 400;
}
