<div id="career_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">{{jobsList.jobDesignation}}</h1>
            <h4 class="h4 pb-2 regular-800">By admin / {{date}}</h4>

            <a type="submit" class="btn rounded-pill btn-outline-light px-4 me-4 light-300" href="#applyform" >Apply Now</a>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Contact Us</button>
        </div>
    </div>
</div>
<section class="bg-light w-100">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <div class="col-lg-12 text-start">
                <h6 class="h6 py-3 light-300">The Software Development Team is at the core of the amazing products we
                    provide to our clients. The Dev Teams create the applications and infrastructure that make up our
                    industry-leading products, as well as build the tools that other teams use every day to provide our
                    amazing customer service.</h6>
                <h5 class="h5 py-2 text-dark">Job Responsibilities:</h5>
                <p class="light-400" *ngFor="let data of jobsList.jobResponsibility">
                    · {{data}}
                </p>
                <!-- <p class="light-400">
                    · Maintain existing products and support internal users
                </p>
                <p class="light-400">
                    · Communicate and work closely with partners utilizing our platforms
                </p>
                <p class="light-400">
                    · Work closely with in-house departments to complete tasks
                </p>
                <p class="light-400">
                    · Troubleshoot and problem solve website and platform related issues
                </p>
                <p class="light-400">
                    · Provide guidance, mentoring, and code reviews to more junior Software Developers
                </p>
                <p class="light-400">
                    · Develop new products as a member of one of our Scrum teams
                </p>
                <p class="light-400">
                    · Assist Team Lead with software designs to meet Product Owners’ needs
                </p>
                <p class="light-400">
                    · Assist with training and onboarding of new team members
                </p>
                <p class="light-400">
                    · Actively seek ways to improve the team’s designs, tools, and processes
                </p> -->




                <h5 class="h5 py-2 text-dark">Job Qualifications:</h5>

                <p class="light-400" *ngFor="let data of jobsList.jobQualification">
                    · {{data}}
                </p>
               




                <h5 class="h5 py-2 text-dark">Job Competencies:</h5>

                <p class="light-400" *ngFor="let data of jobsList.competencies">
                    · {{data}}
                </p>



                <h6 class="h6 py-2 text-dark">Job Category: {{jobsList.jobCategory}}</h6>

                <h6 class="h6 py-2 text-dark">Job Type: {{jobsList.jobType}}</h6>
                <h6 class="h6 py-2 text-dark">Job Location: {{jobsList.jobLocation}}</h6>
                <h6 class="h6 py-2 text-dark">Industry: {{jobsList.industry}}</h6>

            </div>
        </div>

    </div>
</section>

<section class="container py-5" id="applyform">
    <h1 class="col-12 col-xl-12 h2 text-center text-primary pb-2">Apply for this position</h1>

    <div class="col-lg-12">
        

     <form [formGroup]="careerForm" (ngSubmit)="onSubmit()" class="career-form row">

            <!-- Full Name -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="floatingname" formControlName="fullName"
                        placeholder="Name">
                    <label for="floatingname">Full Name</label>
                </div>
                <div *ngIf="careerForm.get('fullName')?.touched && careerForm.get('fullName')?.invalid"
                    class="text-danger small mt-1">
                    <div *ngIf="careerForm.get('fullName')?.errors?.['required']">Full Name is required.</div>
                    <div *ngIf="careerForm.get('fullName')?.errors?.['minlength']">Minimum 2 characters required.</div>
                </div>
            </div>

            <!-- Email -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="email" class="form-control form-control-lg" id="floatingemail" formControlName="email"
                        placeholder="Email">
                    <label for="floatingemail">Email</label>
                </div>
                <div *ngIf="careerForm.get('email')?.touched && careerForm.get('email')?.invalid"
                    class="text-danger small mt-1">
                    <div *ngIf="careerForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="careerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>

            <!-- Phone -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="floatingphone" formControlName="phone"
                        placeholder="Phone" maxlength="10" (keypress)="allowOnlyNumbers($event)">
                    <label for="floatingphone">Phone</label>
                </div>
                <div *ngIf="careerForm.get('phone')?.touched && careerForm.get('phone')?.invalid"
                    class="text-danger small mt-1">
                    <div *ngIf="careerForm.get('phone')?.errors?.['required']">Phone is required.</div>
                    <div *ngIf="careerForm.get('phone')?.errors?.['pattern']">Phone must be exactly 10 digits.</div>
                </div>
            </div>

            <!-- Job Applied -->
            <!-- <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" formControlName="jobApplied">
                        <option value="">Select</option>
                        <option value="Java Developer">Java Developer</option>
                        <option value="Angular Developer">Angular Developer</option>
                        <option value="Hybris Developer">Hybris Developer</option>
                    </select>
                    <label for="floatingrole">Job Applied for</label>
                </div>
                <div *ngIf="careerForm.get('jobApplied')?.touched && careerForm.get('jobApplied')?.invalid"
                    class="text-danger small mt-1">
                    Job role is required.
                </div>
            </div> -->

            <!-- Qualification -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" formControlName="qualification">
                        <option value="">Select</option>
                        <option value="Graduation">Graduation</option>
                        <option value="Post Graduation">Post Graduation</option>
                        <option value="Others">Others</option>
                    </select>
                    <label for="floatingqual">Qualification</label>
                </div>
                <div *ngIf="careerForm.get('qualification')?.touched && careerForm.get('qualification')?.invalid"
                    class="text-danger small mt-1">
                    Qualification is required.
                </div>
            </div>

            <!-- Total YOE -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="totalYOE" formControlName="totalYOE"
                        placeholder="Total Experience">
                    <label for="totalYOE">Total YOE</label>
                </div>
                <div *ngIf="careerForm.get('totalYOE')?.touched && careerForm.get('totalYOE')?.invalid"
                    class="text-danger small mt-1">
                    Total experience is required.
                </div>
            </div>

            <!-- Relevant Exp -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="relevantExp"
                        formControlName="relevantExp" placeholder="Relevant Experience" maxlength="2"
                        (keypress)="allowOnlyNumbers($event)">
                    <label for="relevantExp">Relevant Experience</label>
                </div>
                <div *ngIf="careerForm.get('relevantExp')?.touched && careerForm.get('relevantExp')?.invalid"
                    class="text-danger small mt-1">
                    Relevant experience is required.
                </div>
            </div>

            <!-- Current Company -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="currentCompany"
                        formControlName="currentCompany" placeholder="Current Company">
                    <label for="currentCompany">Current Company</label>
                </div>
                <div *ngIf="careerForm.get('currentCompany')?.touched && careerForm.get('currentCompany')?.invalid"
                    class="text-danger small mt-1">
                    Current company is required.
                </div>
            </div>

            <!-- Current CTC -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="currentCTC" formControlName="currentCTC"
                        placeholder="Current CTC" maxlength="10" (keypress)="allowOnlyNumbers($event)">
                    <label for="currentCTC">Current CTC</label>
                </div>
                <div *ngIf="careerForm.get('currentCTC')?.touched && careerForm.get('currentCTC')?.invalid"
                    class="text-danger small mt-1">
                    Current CTC is required.
                </div>
            </div>

            <!-- Notice Period -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <select class="form-select" formControlName="noticePeriod">
                        <option value="">Select</option>
                        <option value="Immediate">Immediate</option>
                        <option value="Less than 30 days">Less than 30 days</option>
                        <option value="1 - 2 Months">1 - 2 Months</option>
                    </select>
                    <label for="noticePeriod">Notice Period</label>
                </div>
                <div *ngIf="careerForm.get('noticePeriod')?.touched && careerForm.get('noticePeriod')?.invalid"
                    class="text-danger small mt-1">
                    Notice period is required.
                </div>
            </div>

            <!-- Resume Upload -->
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                    <input type="file" class="form-control form-control-lg" accept=".pdf,.doc,.docx" id="floatingcv"
                        (change)="handleBrowseFile($event)" #fileInput>
                    <label for="floatingcv" class="form-label">Upload CV/Resume</label>
                </div>
                <p class="mt-2">Allowed Type(s): .pdf, .doc, .docx</p>
            </div>

            <!-- Cover Letter -->
            <div class="col-lg-12 mb-4">
                <div class="form-floating">
                    <textarea class="form-control" rows="8" id="floatingtextarea" formControlName="coverletter"
                        placeholder="Write your cover letter here"></textarea>
                    <label for="floatingtextarea">Cover Letter</label>
                </div>
                <div *ngIf="careerForm.get('coverletter')?.touched && careerForm.get('coverletter')?.invalid"
                    class="text-danger small mt-1">
                    <div *ngIf="careerForm.get('coverletter')?.errors?.['required']">Cover letter is required.</div>
                    <div *ngIf="careerForm.get('coverletter')?.errors?.['minlength']">Minimum 10 characters required.
                    </div>
                </div>
            </div>

            <!-- Agree Checkbox -->
            <div class="col-lg-12 mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agreeCheck" formControlName="agree" required>
                    <label class="form-check-label" for="agreeCheck">
                        By using this form you agree with the storage and handling of your data by this website. *
                    </label>
                </div>
                <div *ngIf="careerForm.get('agree')?.touched && careerForm.get('agree')?.invalid"
                    class="text-danger small mt-1">
                    You must agree before submitting.
                </div>
            </div>

            <!-- Submit Button -->
            <div class="col-md-12 col-12 m-auto text-end">
                <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 text-light"
                    [disabled]="!careerForm.valid">
                    Submit
                </button>
            </div>
        </form>


    </div>
</section>