<div id="service_banner" class="banner-wrapper bg-light w-100 py-5">
    <div
        class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Our Blogs</h1>
            <h3 class="h4 pb-2 regular-400">Empowering Innovation with Client-Centric IT Solutions</h3>
            <p class="banner-body pb-2 light-300">
                Clavrit delivers cutting-edge, client-focused IT solutions worldwide, specializing in SAP, Salesforce,
                AI, ML, and custom development,
                with award-winning projects and exceptional support that set us apart.
            </p>
            <button type="submit" class="btn rounded-pill btn-outline-light px-4 me-4 light-300"
                routerLink="/portfolio">Learn More</button>
            <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300 no-focus-outline"
                routerLink="/contact">Contact Us</button>
        </div>
    </div>
</div>
<section class="container py-5">

    <div class="container">
        <div class="row" id="blog-list-section">
            <div class="col-12 col-md-8 mb-5">
                <div class="row projects gx-lg-5">
                    <div class="col-sm-6 col-lg-6 text-decoration-none mb-5" *ngFor="let item of paginatedList">
                        <!-- <div class="service-work overflow-hidden card mx-md-1 mx-0 mb-4 h-100">
                            <img class="card-img-top" [src]="item.bannerUrl" alt="..." width="100%" height="250px">
                            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                                <h5 class="card-title light-400 text-dark">{{ item.title }}</h5>
                                <p class="card-text light-300 text-dark">
                                    {{ item.serpMetaDescription | slice:0:40 }}...
                                </p>
                                <a class="card-read-more " (click)="viewBlog(item)">
                                    <span class="text-decoration-none text-primary light-300">
                                        Read more <i class='bx bxs-hand-right ms-1'></i>
                                    </span>
                                </a>
                            </div>
                        </div> -->
                        <a (click)="viewBlog(item)" class="text-decoration-none">
                            <div class="service-work overflow-hidden card mx-md-1 mx-0 mb-5 h-100">
                                <div class="img">
                                    <img class="card-img-top" [src]="item.bannerUrl" alt="blog_img" width="100%"
                                        height="175px">
                                </div>
                                <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                                    <h5 class="card-title light-300 text-dark">{{ item.title }}</h5>
                                    <p class="card-text light-300 text-dark">
                                        {{ item.serpMetaDescription | slice:0:40 }}...
                                    </p>

                                    <span class="text-decoration-none text-primary light-300">
                                        Read more <i class='bx bxs-hand-right ms-1'></i>
                                    </span>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="btn-toolbar justify-content-center pb-4" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group">
                        <button type="button" class="btn btn-secondary text-white" [disabled]="currentPage === 1"
                            (click)="goToPreviousPage()">Previous</button>
                    </div>

                    <div class="btn-group me-2" role="group" *ngFor="let page of totalPagesArray; let i = index">
                        <button type="button" class="btn"
                            [ngClass]="{ 'btn-secondary text-white': currentPage === i + 1, 'btn-light': currentPage !== i + 1 }"
                            (click)="goToPage(i + 1)">{{ i + 1 }}</button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary text-white"
                            [disabled]="currentPage === totalPages" (click)="handleNextPage()">Next</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 ">

                <div class="tags card w-100">

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title light-300 text-dark">Tags</h5>

                        <!-- <span *ngFor="let tag of tagList" (click)="filterByTag(tag)"
                            class="text-decoration-none text-primary light-300" style="cursor: pointer;">
                            {{ tag }}
                        </span> -->
                        <span *ngFor="let tag of tagList" (click)="filterByTag(tag)"
                            class="tag-hover text-primary light-300">
                            {{ tag }}
                        </span>

                        <span *ngIf="selectedTag" (click)="selectedTag = null; paginatedList = blogList"
                            class="badge bg-secondary text-white m-1" style="cursor: pointer;">Go Back</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<article class="container-fluid bg-light">
    <div class="container">
        <div class="worksingle-related-header row">
            <h2 class="h2 py-5">Recent Post</h2>
            <div class="col-md-12 text-left justify-content-center">
                <div class="row gx-5">


                    <div class="col-12 col-md-4 text-decoration-none mb-3" *ngFor="let item of blogList | recentBlog:3">
                        <a (click)="viewBlog(item)" class="text-decoration-none">
                            <div class="service-work overflow-hidden card mx-md-1 mx-0 mb-4 h-100">
                                <div class="img">
                                    <img class="card-img-top" [src]="item.bannerUrl" alt="recent-post" width="100%"
                                        height="175px">
                                </div>
                                <div class="card-body h-100 d-flex flex-column justify-content-evenly">
                                    <h5 class="card-title light-400 text-dark">{{ item.title }}</h5>
                                    <p class="card-text light-300 text-dark">
                                        {{ item.serpMetaDescription | slice:0:40 }}...
                                    </p>

                                    <span class="text-decoration-none text-primary light-300">
                                        Read more <i class='bx bxs-hand-right ms-1'></i>
                                    </span>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>